<apex:page standardController="Protocol__c" sidebar="false" id="thePage" 
            extensions="GLSLPW_ProtocolCountryControllerExt" tabstyle="Program__c">

    <apex:stylesheet value="{!$Resource.jqueryui}" />
    <apex:includeScript value="{!URLFOR($Resource.TCS_JQuery_DataTables, 'js/jquery.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.CommetD, 'js/cometd.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.CommetD, 'js/json2.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.CommetD, 'js/jquery.cometd.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.TCS_JQuery_DataTables, 'js/jquery.dataTables.js')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.TCS_JQuery_DataTables, 'css/dataTables.css')}"/>
    
    <style>
        
        .cursor{
             cursor:pointer;
        }
        
        .formatText{
            font-family: Arial,Helvetica,sans-serif;
            font-weight: bold;
        }
        
        .actionButton{
            width: 8%;
            margin-right: 2% !important;
        }
        
        .outputTextWidth{
            width: 30% !important;
        }
        
        .tableScroll{
            height: 180px;
            overflow-y: scroll;
            width: 50% !important;
        }
        
        .contentCenter{
            text-align:center !important;
        }
    </style>
    
    <apex:form id="theForm">
        <apex:pageMessages id="msgPanel"/>
        <apex:actionFunction name="removeCountryAction" rerender="countryPanel" action="{!removeCountryAction}">
            <apex:param name="countryName" assignTo="{!countryName}" value="" /> 
        </apex:actionFunction>
        <apex:commandButton value="Back" styleClass="textFormat" onclick="window.history.back();"/>
        <apex:pageBlock title="Add/Edit Country"/>
        <table width="70%">
            <tr>
                <td width="22%">
                    <apex:pageBlock id="thePgBlock">
                        <apex:pageBlockSection id="thePgBlockSection" columns="1">
                            <div align="center">
                                <apex:outputText value="Country" styleClass="formatText"/>
                                <apex:selectList value="{!lstCountries}" multiselect="true" size="8">
                                    <apex:selectOptions value="{!countryValues}" />
                                </apex:selectList>
                                <apex:commandButton value="Add Country to List >>" rerender="msgPanel,countryPanel" action="{!addCountries}"/>
                            </div>
                        </apex:pageBlockSection>
                    </apex:pageBlock>
                </td>
                <td>
                    <br/>
                    <apex:outputText value="Selected Countries" styleClass="formatText"/>
                    <div class="tableScroll">
                        <apex:outputPanel id="countryPanel" >
                            <table id="countryTable" class="display" width="100%">
                                <thead>
                                    <tr>
                                        <th class="contentCenter">Action</th>
                                        <th class="contentCenter">Country</th>
                                        <th class="contentCenter"># of Sites</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!setCountries}" var="country">
                                        <tr>
                                            <td class="contentCenter"><a class="cursor" onclick="removeCountry('{!country}');">Del</a></td>
                                            <td class="contentCenter">{!country}</td>
                                            <td class="contentCenter"><apex:inputText value="{!mapcountrySites[country]}" style="width:40%;"></apex:inputText></td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>   
                            </table>
                        </apex:outputPanel>
                    </div>
                    <br/>
                    <apex:commandButton value="Save" action="{!saveAction}" styleClass="actionButton"/>
                    <apex:commandButton value="Cancel" onclick="cancelRedirect(); return false;" styleClass="actionButton"/>
                </td>
            </tr>
        </table>
        
        <script>
            $(document).ready(function() {
                    createCountryTable();
            });
             
            function createCountryTable(){
                 var oTable =  $('#countryTable').dataTable( { 
                             "aoColumns": [null,null,null],
                             "bFilter" : false,
                             "bLengthChange": false,
                             "bInfo": false, 
                             "bPaginate": false
                });  
            } 
            
            function removeCountry(ctry){
                removeCountryAction(ctry);
            } 
            
            function cancelRedirect(){
                var protocolId= '{!protocolId}';
                window.open('/apex/GLSLPW_ProtocolDetailPage?id='+protocolId, '_self');
            }
        </script>
    </apex:form>
    
    
</apex:page>