<apex:page controller="GLSLPW_CustomProtocolLookupController" title="Search" showHeader="false" sideBar="false" tabStyle="Protocol__c" id="pg">
 <apex:form >
  <apex:outputPanel id="page" layout="block" style="margin:5px;padding:10px;padding-top:2px;"> 
        <apex:actionRegion >  
          <apex:outputPanel id="top" layout="block" style="margin:5px;padding:10px;padding-top:2px;">
            <apex:outputLabel value="Search" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>
            <apex:inputText id="txtSearch" value="{!searchString}" />
              <span style="padding-left:5px"><apex:commandButton id="btnGo" value="Go" action="{!Search}" rerender="searchResults"></apex:commandButton></span>
          </apex:outputPanel>
 
          <apex:outputPanel id="pnlSearchResults" style="margin:10px;height:350px;overflow-Y:auto;" layout="block">
            <apex:pageBlock id="searchResults">               
              <apex:outputPanel rendered="{!if(forInvoice!='true' && results != null && results.size>0,true,false)}">                  	  	
                  <apex:pageBlockTable value="{!results}" var="a" id="tblResults">
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >Name</apex:outputPanel>
                      </apex:facet>                  
                       <apex:outputLink value="javascript:top.window.opener.lookupPick2('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!a.Id}','{!a.Name}', false)" rendered="{!NOT(ISNULL(a.Id)) && (a.Status__c =='Open')}">{!a.Name}</apex:outputLink>
                       <apex:outputtext rendered="{!(a.Status__c !='Open')}">{!a.Name}</apex:outputText>     
                    </apex:column>
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >Protocol Name</apex:outputPanel>
                      </apex:facet>
                       <apex:outputtext value="{!a.Protocol_Name__c}"/>     
                    </apex:column>
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >Program Name</apex:outputPanel>
                      </apex:facet>
                       <apex:outputtext value="{!a.Program_Name__r.Program_Name__c}"/>     
                    </apex:column> 
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >Status</apex:outputPanel>
                      </apex:facet>
                       <apex:outputtext value="{!a.Status__c}"/>     
                    </apex:column>                                
                  </apex:pageBlockTable>
                  
              </apex:outputPanel>
              <apex:outputPanel rendered="{!if(forInvoice == 'true' && results != null && results.size>0,true,false)}">
                  <apex:pageBlockTable value="{!results}" var="a" id="tblResultsInv">
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >Name</apex:outputPanel>
                      </apex:facet>                  
                       <apex:outputLink value="javascript:top.window.opener.lookupPick2('{!FormTag}','{!TextBox}_lkid','{!TextBox}','{!a.Id}','{!a.Name}', false)" >{!a.Name}</apex:outputLink>                         
                    </apex:column>
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >Protocol Name</apex:outputPanel>
                      </apex:facet>
                       <apex:outputtext value="{!a.Protocol_Name__c}"/>     
                    </apex:column>
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >Program Name</apex:outputPanel>
                      </apex:facet>
                       <apex:outputtext value="{!a.Program_Name__r.Program_Name__c}"/>     
                    </apex:column> 
                    <apex:column >
                      <apex:facet name="header">
                        <apex:outputPanel >Status</apex:outputPanel>
                      </apex:facet>
                       <apex:outputtext value="{!a.Status__c}"/>     
                    </apex:column>                                
                  </apex:pageBlockTable>
              </apex:outputPanel>
              <apex:outputPanel rendered="{!if(forInvoice=='false',true,false)}">
	              <apex:outputPanel rendered="{!if(results != null && results.size>0,false,true)}">
	              	<apex:pageBlockSection >No protocols exist.</apex:pageBlockSection>
	              </apex:outputPanel>
              </apex:outputPanel>
              <apex:outputPanel rendered="{!if(forInvoice=='true',true,false)}">
	              <apex:outputPanel rendered="{!if(results != null && results.size>0,false,true)}">
	              	<apex:pageBlockSection >No open protocols exist against selected program.</apex:pageBlockSection>
	              </apex:outputPanel>
              </apex:outputPanel>
            </apex:pageBlock>
          </apex:outputPanel>
        </apex:actionRegion>
  </apex:outputPanel>
  </apex:form>
</apex:page>