<apex:page controller="GLSLPW_InvoiceManagementController" docType="html-5.0">
<apex:stylesheet value="{!$Resource.jqueryui}" />
<!-- <apex:stylesheet value="{!$Resource.FileUploadComponentCSS}" /> -->
<apex:includeScript value="{!URLFOR($Resource.AWS_Script, '/jquery-1.10.2.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AWS_Script, '/jquery.jeditable.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AWS_Script, '/jquery-ui.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.TCS_JQuery_DataTables, 'css/jquery-ui.css')}"/>

<style>
.hideDiv{
    display:none;
}
.ui-widget-overlay { 
    opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
    filter: Alpha(Opacity=50) !important;
    background: rgb(50, 50, 50) !important;
}
.showInline{
    display:inline;
}
.fullRight{ 
        margin-left: 75%;
}
.halfRight{
	margin-left: 356px;    
}
.red{
        color: red;
}
.searchCss{
	margin-left: 551px;
}
.agreeTable{
	height: 80px;
	overflow:auto;
}
.spinner{
	height: 4936px;
	display:none;
}
.overlayCls {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #000;
    opacity: 0.5;
    z-index: 2000;
    top: 0;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity =   50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    left: 0px;
    right: 0px
}
.overlayCls img {
    width: 32px;
    margin: 25% auto;
    display: block;
}
.center{
	text-align:center;
}

</style>
<apex:form id="theForm">
	<apex:pageMessages id="msgPanel"/>
    <apex:pageBlock >       
        <apex:pageBlockSection title="Search Criteria">                                            	
            <apex:pageBlockSectionItem >
            	<apex:outputPanel >
            		<div>      
		            	No Program &nbsp;<apex:inputCheckbox styleClass="noPrgm" />
		            </div>
            	</apex:outputPanel>
            </apex:pageBlockSectionItem>		
            <apex:pageBlockSectionItem >
            	<apex:outputPanel >		
            			<div class="programPanel">                    
			                 <div class="showInline"> Program  &nbsp;<apex:inputField value="{!estimate.Program_Id__c}" styleClass="program showInline"/></div>
			            </div>
            	</apex:outputPanel>			
            </apex:pageBlockSectionItem>		
            <apex:pageBlockSectionItem >
            	<apex:outputPanel >		
            			<div class="accountPanel">                    
			                <div class="showInline">Account  &nbsp;</div> <apex:inputField value="{!invoiceProgram.Account__c}" styleClass="Account showInline"/>
			            </div>
            	</apex:outputPanel>			
            </apex:pageBlockSectionItem>				
            <apex:pageBlockSectionItem >
            	<apex:outputPanel >		
            			<div class="protocolPanel">                    
			                <div class="showInline">Protocol  &nbsp;</div> <apex:inputField value="{!estLineItem.Protocol_Id__c}" styleClass="protocol showInline"/>
			            </div>
            	</apex:outputPanel>			
            </apex:pageBlockSectionItem>			            						                    				            		                        
            <apex:actionRegion >
            	<input type="button" value="Search" onClick="search();return false;" class="searchCss"/>
            	<apex:actionFunction name="searchOrder" action="{!searchOrder}" rerender="LineItemSection,invoicePanel,AvailablePAAmtSection,msgPanel" status="wait">
            	 	<apex:param name="accId" assignTo="{!selectedAccountId}" value=""/>
            	 	<apex:param name="programId" assignTo="{!selectedProgramId}" value=""/>
            	 	<apex:param name="protocolId" assignTo="{!selectedProtocolId}" value=""/>
            	</apex:actionFunction>	
            </apex:actionRegion>
        </apex:pageBlockSection>
        <br/>
        <apex:actionRegion >
        <apex:outputPanel id="ordersSection">   
                <apex:pageBlockSection title="Orders with Billable Status" columns="3">
	                    <apex:pageBlockSectionItem >
	                        <apex:outputPanel >
	                            <div class="showInline">    
	                                Amount of Selected Orders &nbsp;<div class="showInline changeColor">$<div class="SelectedOrderAmount showInline">0.00</div></div>
	                            </div>
	                        </apex:outputPanel>
	                    </apex:pageBlockSectionItem>
	                    <apex:pageBlockSectionItem >
	                    </apex:pageBlockSectionItem>
	                    <apex:pageBlockSectionItem >
	                        <apex:outputPanel >
	                            <div class="showInline">    
	                                Invoice Date  &nbsp;<apex:inputField value="{!invoice.Date_of_Invoice__c}" />										  										          					          
	                            </div>
	                        </apex:outputPanel>
	                    </apex:pageBlockSectionItem>    
                    <apex:pageBlockSectionItem > 
                    		<apex:outputPanel >                       
	                            <div class="PAAmountSection">
	                            	<apex:outputPanel id="AvailablePAAmtSection">
	                                	Available Purchase Agreement Amount &nbsp;$<div class="AvailableOrderAmount showInline">{!PAAmount}</div>
	                                </apex:outputPanel>
	                            </div>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
	                </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
	                    <apex:outputPanel id="invoicePanel">                
	                        <apex:commandButton value="Invoice Selected Records" onClick="createInvoice();return false;" styleClass="showInline" disabled="{!noOrdersExists}"/>
	                    </apex:outputPanel>    
                    </apex:pageBlockSectionItem>				  
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="1">      
	                <apex:pageBlockSectionItem >
		                <apex:outputPanel id="LineItemSection">
			                <apex:outputPanel rendered="{!!noOrdersExists}">
				                <apex:pageBlockTable value="{!lstOrderWrapper}" var="order">
				                    <apex:column headerValue="Select">
				                        <apex:inputCheckBox value="{!order.isSelected}" styleClass="selectedOrder"/>
				                    </apex:column>
				                    <apex:column headerValue="Quote Number">
				                        <apex:outputText value="{!order.quote.Quote_Number__c}"/>
				                    </apex:column>
<!-- 				                    <apex:column headerValue="Source Language"> -->
<!-- 				                        <apex:outputText value="{!order.qlineItem.Source_Language_ID__r.Name}"/> -->
<!-- 				                    </apex:column> -->
<!-- 				                    <apex:column headerValue="Target Language"> -->
<!-- 				                        <apex:outputText value="{!order.qlineItem.Target_Language_ID__r.Name}"/> -->
<!-- 				                    </apex:column> -->
<!-- 				                    <apex:column headerValue="# Of Files"> -->
<!-- 				                        <apex:outputText value="{!order.qlineItem.File_Count__c}"/> -->
<!-- 				                    </apex:column> -->
				                    <apex:column headerValue="Quote Amount">
				                        <apex:outputText value="{!order.quote.Actual_Total_Amount__c}" styleClass="QLItAmount totalQAmount"/>
				                    </apex:column>
				                    <apex:column headerValue="Expedited Surcharge Amount">
				                        <apex:outputText value="{!order.Expedite_Surcharge_Amount}" styleClass="espSurcharge"/>
				                    </apex:column>
				                    <apex:column headerValue="Total Quote Amount">
				                        <apex:outputText value="{!order.quote.Quote_Total_Amount__c}" styleClass="tAmount"/>
				                    </apex:column>
				                    <apex:column headerValue="Delivery Option" >
				                        <apex:outputText value="{!order.quote.Urgency__c}" styleClass="deliveryOption"/>
				                    </apex:column>
				                    <apex:column headerValue="Expedited at QLI Level">
				                        <apex:outputField value="{!order.quote.QLIESOverridden__c}" styleClass="overriddenQuote"/>
				                    </apex:column>
				                    
				                </apex:pageBlockTable>
			                </apex:outputPanel>
			                <apex:outputPanel rendered="{!noOrdersExists}">
			                	<div>No orders against selected fields exist for invoicing.</div>
			                </apex:outputPanel>
		                </apex:outputPanel>
		            </apex:pageBlockSectionItem>
	            </apex:pageBlockSection>        
        </apex:outputPanel>
        <apex:actionFunction name="generateInvoice" action="{!generateInvoice}" status="wait" rerender="LineItemSection,invoicePanel,AvailablePAAmtSection,PADialogPanel,msgPanel">
        	<apex:param name="PAId" value="" assignTo="{!selectedPAId}"/>
        </apex:actionFunction>
        <apex:actionFunction name="getPurchaseAgreements" action="{!getPurchaseAgreements}" status="wait" onComplete="openPurchaseAgreementDialog();" rerender="PADialogPanel,msgPanel"/>
        <apex:actionStatus onstart="showOverlay();" onstop="hideOverlay();" id="wait"/>                  
        </apex:actionRegion>             
    </apex:pageBlock>
    <apex:outputPanel id="PADialogPanel">   
	    <div id="purchaseAgreementDialog" class="hideDiv">	    	    
	    	<apex:pageBlock >
	    		<apex:outputPanel rendered="{!If(lstPurchaseAgreement!=null && lstPurchaseAgreement.size > 0,true,false)}" styleClass="agreeTable" layout="block">	
			    	<apex:pageBlockTable value="{!lstPurchaseAgreement}" var="agreement">
		                <apex:column headerValue="Select">
		                    <input type="radio" name="SelectedAgreement" value="{!agreement.id}" class="selectedAgreement"/>
		                </apex:column>
		                <apex:column headerValue="PA Name">
		                    <apex:outputText value="{!agreement.Name}"/>
		                </apex:column>
		                <apex:column headerValue="Invoiced Amount">
		                    <apex:outputText value="{!agreement.Invoiced_Amount__c}"/>
		                </apex:column>
		                <apex:column headerValue="Remaining Amount">
		                    <apex:outputText value="{!agreement.Remaining_Balance__c}"/>
		                </apex:column>		                
		                <apex:column headerValue="Status">
		                    <apex:outputText value="{!agreement.Status__c}"/>
		                </apex:column>                                
		            </apex:pageBlockTable>
	            </apex:outputPanel>
	            <apex:outputPanel rendered="{!If(lstPurchaseAgreement!=null && lstPurchaseAgreement.size > 0,false,true)}" styleClass="agreeTable" layout="block">
	            	<B>No Purchase Agreement Exists.</B>
	            </apex:outputPanel>
	            <div class="center">	    
	            	<apex:commandButton value="Create Invoice" onClick="createInvoiceForProtocol();return false;" rerender="dummy"/>
	            </div>       
            </apex:pageBlock>	    	
	    </div>         
    </apex:outputPanel>
    <div id="overlayId" class="overlayCls spinner">
    	<img height="32"
	    width="32" src="/img/loading32.gif" />
	</div>
    <script>
    	var orderSelected;
        $(document).ready(function() {
            $('.programPanel').find('.requiredBlock').addClass('hideDiv');
            $('.programPanel').find('.requiredInput').addClass('showInline');   
            selectedAmount=0.00;
            orderSelected = 0.00;   
        });
        function showOverlay(){
		    var docHeight=$(document).height();
		    $('.overlayCls').height(docHeight);
		    $('.overlayCls').show();
		}
		function hideOverlay(){
		    $('.overlayCls').hide();
		}
        function openLookup(baseURL, width, modified, searchParam){
            var originalbaseURL = baseURL;
            var originalwidth = width;
            var originalmodified = modified;
            var originalsearchParam = searchParam;
            var lookupType = baseURL.substr(baseURL.indexOf("&lktp=")+6, 3);
            if (modified == '1') baseURL = baseURL + searchParam;
         
            var isCustomLookup = false;
            if(lookupType == "a1c" || lookupType == "a1d" || lookupType == "a1k"){ 
              var accountID = $('.accountPanel').find("[id$='_lkid']").val();              
              if(accountID=='000000000000000'){
                alert('Please select Account before selecting protocol.');
                return;
              }
              var urlArr = baseURL.split("&");
              var txtId = '';
              if(urlArr.length > 2) {
                urlArr = urlArr[1].split('=');
                txtId = urlArr[1];
              }                                                            
              baseURL = "/apex/GLSLPW_CustomProgramLookup?txt=" + txtId;                   
              baseURL = baseURL + "&accId=" +escapeUTF(accountID);          
              baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.theForm}");
              if (modified == '1') {
                baseURL = baseURL + "&lksearch=" + searchParam;
              }                             
              isCustomLookup = true;          
            }                  
            if(lookupType == "a1e" || lookupType == "a1f" || lookupType == "a1m"){    
              var prgmId= $('.programPanel').find("[id$='_lkid']").val(); 
              var urlArr = baseURL.split("&");
              var txtId = '';               
              if(prgmId=='000000000000000'){
                alert('Please select program before selecting protocol.');
                return;
              }
              if(urlArr.length > 2) {
                urlArr = urlArr[1].split('=');
                txtId = urlArr[1];
              }                                                            
              baseURL = "/apex/GLSLPW_CustomProtocolLookup?txt=" + txtId;
              baseURL = baseURL + "&forInvoice=true";
              baseURL = baseURL + "&prgmId=" + escapeUTF(prgmId);
         
              baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.theForm}");
              if (modified == '1') {
                baseURL = baseURL + "&lksearch=" + searchParam;
              }               
              isCustomLookup = true;          
            }                       
            if(isCustomLookup == true){          
              openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
            }
            else {
              if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
              openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
            } 
          }       
          function search(){
            var accountId = $('.accountPanel').find("[id$='_lkid']").val();
            var prgmId= $('.programPanel').find("[id$='_lkid']").val();
            var protocolId= $('.protocolPanel').find("[id$='_lkid']").val();
            if(accountId != '' && accountId != '000000000000000'){                
                if($('.noPrgm').prop('checked') == true){      
                	selectedAmount=0.00;
            		orderSelected = 0.00;          	
                	searchOrder(accountId,'','');
                	$('.SelectedOrderAmount').html(0.00);
                }else{
                	if(prgmId != '' && prgmId != '000000000000000'){
	            		if(protocolId != '' && protocolId != '000000000000000'){	
	            			selectedAmount=0.00;
            				orderSelected = 0.00;            			
	            			searchOrder(accountId,prgmId,protocolId);	
	            			$('.SelectedOrderAmount').html(0.00);		
	            		}else{
	            			alert('Please select Protocol.');
	            		}
	            	}else{
	            		alert('Please select Program and Protocol.');
	            	}
                }                	                
            }else{
                alert('Please select atleast Account to search for orders.');
            }                 
          }
          $(document).on('change','.selectedOrder',function(){
                var isSelected = $(this).prop('checked');
                var currentItemAmount = $(this).closest('tr').find('.tAmount').html();
                var currentQuoteAmount = $(this).closest('tr').find('.totalQAmount').html();
                //var isOverridden  = $(this).closest('tr').find('.overriddenQuote').html();
                var deliveryOption  = $(this).closest('tr').find('.deliveryOption').html();
                                
                var availableAmt;
                
                if($('.AvailableOrderAmount').html() != '')
                    availableAmt = parseFloat($('.AvailableOrderAmount').html());
                    
                var Amount=0.00;
                var qAmount= 0.00;
                if(currentItemAmount != ''){
                    Amount = parseFloat(currentItemAmount);                     
                }
                //if(currentQuoteAmount!=''){
                //	qAmount = parseFloat(currentQuoteAmount);
                //}                
                if(isSelected == true){
                	orderSelected = orderSelected + 1;
                    //if(deliveryOption=='Expedited' || isOverridden=="true"){
                    selectedAmount = selectedAmount + Amount;	
                    //}else{
                    //	selectedAmount = selectedAmount + qAmount;
                    //}                	                 
                                                                               
                }else{
                	orderSelected = orderSelected - 1;                	
                	//if(deliveryOption=='Expedited' || isOverridden=="true"){
                    selectedAmount = selectedAmount - Amount;	
                    //}else{
                    //	selectedAmount = selectedAmount - qAmount;
                    //}                                        
                }
                if(selectedAmount < 0){
                	selectedAmount = selectedAmount*(-1);
                }
                $('.SelectedOrderAmount').html(parseFloat(selectedAmount).toFixed(2));          
                if((availableAmt < selectedAmount) && $('.noPrgm').prop('checked') != true){
                    $('.changeColor').addClass('red');
                }else{
                    $('.changeColor').removeClass('red');
                }                                                  
          });
          $(document).on('change','.noPrgm',function(){
          	if($(this).prop('checked') == true){
          		$('.programPanel').addClass('hideDiv');
          		$('.protocolPanel').addClass('hideDiv');
          		$('.PAAmountSection').addClass('hideDiv');          		
          	}else{
          		$('.programPanel').removeClass('hideDiv');
          		$('.protocolPanel').removeClass('hideDiv');
          		$('.PAAmountSection').removeClass('hideDiv');
          	}          
          });
          
          $(document).on('change','.program',function(){
          	if($(this).val() == ''){          		          		
          		 $('.programPanel').find("[id$='_lkid']").val('000000000000000');
          	}          
          });
          $(document).on('change','.protocol',function(){
          	if($(this).val() == ''){          		          		
          		 $('.protocolPanel').find("[id$='_lkid']").val('000000000000000');
          	}          
          });          
          $(document).on('change','.Account',function(){
          	if($(this).val() == ''){          		          		
          		 $('.accountPanel').find("[id$='_lkid']").val('000000000000000');
          	}          
          });
          
          function createInvoice(){
          	if(orderSelected <= 0){
          		alert('Please select atleast one order for invoicing.');	
          	}else{
          		if($('.noPrgm').prop('checked') == true){	
          			generateInvoice('');
          		}else{
          			getPurchaseAgreements();
          		}
          	}
          }
          function openPurchaseAgreementDialog(){
          	$('#purchaseAgreementDialog').dialog({
             modal: true,
             autoOpen: false,     
             title: 'Create Invoice',     
             minHeight: 170,
    		 width: '650px'     
            }).dialog("open");                      	          
          }
          function createInvoiceForProtocol(){
	          if($("input[type='radio'].selectedAgreement").is(':checked')) {
			    var PAVal = $("input[type='radio'].selectedAgreement:checked").val();
			    if(PAVal != ''){			    	    
			    	generateInvoice(PAVal);
			    	$("#purchaseAgreementDialog").dialog("close");
			    }			    	 
			  }else{
			  	alert('Please select one purchase agreement.')
			  }          	
          }
    </script>
</apex:form>
</apex:page>