<apex:page standardController="Contact" sidebar="false" showHeader="false" docType="html-5.0">
    <apex:actionRegion >
        <c:AWSFileUploadComponent ParentId="{!Contact.Id}"/>
    </apex:actionRegion>
</apex:page>