<apex:page standardController="Quote__c" extensions="AWSFileUploadExtension" sidebar="false" showHeader="false" docType="html-5.0">
    <apex:iframe src="/apex/AWSFileUploadComponentPage?id={!ParentId_value}"/>    
</apex:page>