<apex:page controller="GLSCommunity_DraftController" showHeader="false" sidebar="false" standardStylesheets="false" cache="false">
<style>
.hideContent{
    display:none;
}
.showContent{
    display:block;
}
</style>
    <apex:composition template="GLSTemplate">
    
        <apex:define name="body">
            <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/modalstyle.css')}"/>		    
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/style2.css')}"/>
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/style3.css')}"/>
		    <apex:stylesheet value="{!$Resource.horizontalScroll}"/>
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/datepicker.css')}"/>		    
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/flat-ui.css')}"/>
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/docs.css')}"/>
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/portalpagecss.css')}"/>
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/jquery.tagit.css')}"/>
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_Community_Alertify, 'css/alertify.default.css')}"/>
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_Community_Alertify, 'css/alertify.core.css')}"/>
		    <apex:stylesheet value="{!URLFOR($Resource.GLS_Community_Alertify, 'css/alertify.bootstrap.css')}"/>
            <apex:form >
<!--             <c:GLSLibraryComponent /> -->
<apex:stylesheet value="{!URLFOR($Resource.MenuCssFix, 'css/menu-fix.css')}"/>
             <div id="projects" class="project-page-header action-bar">
                <div class="quotepage"><h1>My Drafts <a href=""  class="video-button info-button" title="Welcome to the GLS Client portal.
                This is our home page. You can View and Manage all your ongoing projects from here." data-toggle="tooltip" data-placement="left" style="margin-right: 10px;"></a><a href="http://bit.ly/1L2l64T?dl=0" target="_blank" class="video-button" title="Video Guidance" data-toggle="tooltip" data-placement="right" ><i class="input-icon fui-video"></i></a></h1></div>
             </div>
             <apex:actionFunction name="deleteProject" action="{!deleteProject}" onComplete="deleteFromAmazon();" rerender="deleteFilePanel">
                <apex:param id="deleteProjectId" name="deleteProjectId" value="" assignTo="{!deleteProjectId}" />
            </apex:actionFunction>
            <apex:actionFunction name="deleteFromAmazon" action="{!deleteFromAmazon}" rerender="deleteFilePanel" onComplete="deleteFilesFormAmazon();"/>
            
            <apex:actionFunction name="refreshQuotes" onComplete="hideProgressBar();" rerender="quoteListToDisplay"/>
            <apex:actionFunction name="populateProgramAndSponsor" action="{!populateSponsorAndProgram}" rerender="sponsorPrgmPanel"/>
            
            <apex:actionFunction name="openTaskType" action="{!openTaskType}" rerender="dummy">
            	<apex:param name="quoteType" value=""/> 
            	<apex:param name="projectName" value=""/>
            	<apex:param name="protocol" value=""/>
            	<apex:param name="reference" value=""/>
            	<apex:param name="sponsor" value=""/>
            </apex:actionFunction>
            <apex:actionFunction name="continueWithQuote" action="{!continueWithQuote}" rerender="dummy">
            	<apex:param name="quoteID" value=""/>
            	<apex:param name="redirectToTask" value=""/>
            </apex:actionFunction>	
            <apex:outputPanel id="deleteFilePanel">
	            <script>
	            	var isAllDelete = '{!isAllFileDeleted}';
	            	function deleteFilesFormAmazon(){
	            		if(isAllDelete == "true"){
	            			refreshQuotes();
	            		}else{
	            			deleteFromAmazon();
	            		}
	            	}
	            </script>
            </apex:outputPanel>
             <div class="dashboard helpdeskpage project-list" id="project-list-page">
                <apex:outputPanel id="quoteListToDisplay">
                    <div id="project-list">
                        <a href="#project-create" id="shortcut" style="text-align:center; font-weight:normal; font-size:30px; display:none;" class="btn btn-hg btn-primary orange" >
                            Add New Project!
                        </a>
                        <ul class="testul">
                            <apex:repeat value="{!currentUsersQuotes}" var="thisQuote"> 
                                <li id="testli0">
                                    <div class="project-name">
                                        <apex:commandLink style="font-size:18px;" onClick="continueWithQuote('{!thisQuote.id}','next');" rerender="dummy">
                                            {!thisQuote.Project_Name_Community__c}                                          
                                        </apex:commandLink>
                                        <br/>
                                        <apex:commandLink value="{!thisQuote.Project_Number__c}" onClick="continueWithQuote('{!thisQuote.id}','next');" rerender="dummy">
<!--                                             <apex:param name="assignQuoteId" value="{!thisQuote.id}" assignTo="{!existingQuoteId}"/> -->
                                        </apex:commandLink>
                                    </div>
                                    <div class="project-date">
                                        <p>
                                            <apex:outputText value="{0,date,MMM dd ', ' yyyy}">
                                                <apex:param value="{!thisQuote.CreatedDate}" /> 
                                            </apex:outputText>
                                        </p>
                                    </div>
                                    <div class="project-status">
                                        <p data-toggle="tooltip" data-placement="left" title="Created on: {!thisQuote.CreatedDate}">.</p>
                                    </div>
                                    <div class="project-submit">
                                        <apex:commandButton styleclass="btn btn-default orange buttontype" style="font-size :15px; width:90px;" value="Continue" onClick="continueWithQuote('{!thisQuote.id}','continue');" rerender="dummyPanel"/>                                                               
                                    </div> 
                                    <div class="project-delete" >
                                        <a class="remove1" onClick="askAndDeleteProject('{!thisQuote.id}','{!thisQuote.Project_Name_Community__c}');">
                                            <span class="input-icon fui-cross"></span>
                                        </a>
                                    </div> 
                                </li>
                            </apex:repeat>
                        </ul>
                    </div>
                    <div id="progress-bar" class="modalDialog " style="background:none; pointer-events: auto!important; cursor:progress; display:block;">
                         <div class="progress progress-striped active active-progress" style="width: 25%!important; visibility:hidden;">
                            <p style="position: absolute; right: 48%; top: 0px; font-size: 12px; font-weight: normal; color: #ffffff;">Please wait...</p>
                            <div id="progressbarInfo" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>                       
                         </div>
                    </div>
                    <div id="project-create" class="modalDialog">
                        <div style="height: auto" class="modal-section">
                            <a href="#close" title="Close" class="close">X</a>
                            <!-- With protocol section -->
                            <div Class="{!If( openProtocolLst !=null && openProtocolLst.size > 0 && isDirectOrderAllowed,'showContent','hideContent')}" id="withProtocolDiv">
                                <h2 style="width:47%;">Enter Project Name</h2>
                                <input type="text" style="width:47%; margin-bottom:10px;" Class="form-control borderstyle projectNameFromUser"/>
                                <h2 style="width:47%; position:absolute; right:20px; top: 2px;">Select Protocol/Reference</h2>
                                <apex:selectList value="{!selectedProtocolId}" multiselect="false" styleClass="form-control borderstyle selectedProtocol" size="1" style="width:47%; position:absolute; right: 20px;top: 58px;" onChange="populateProgramAndSponsor();">
                                    <apex:selectOptions value="{!openProtocolLst}" />
                                </apex:selectList> 
                                <apex:outputPanel id="sponsorPrgmPanel">                                
                                    <h2 style="width:47%;">Sponsor</h2>
                                    <apex:outputText id="sponsor" value="{!selectedSponsor}" style="width:47%; margin-bottom:10px;" styleClass="form-control borderstyle"/>                                                         
                                    <h2 style="width:47%;position:absolute;right:20px;top:101px;">Program</h2>
                                    <apex:outputText value="{!selectedProgram}" styleClass="form-control borderstyle" style="width:47%; position:absolute; right: 20px;top: 156px;"/>                                
                                </apex:outputPanel>
                                <div class="faq-buttons" style="margin-bottom: 40px;">
                                    <button class="btn buttontype" id="question-cancel" onClick="window.location='#close'; return false;">Cancel</button>
                                    <button class="btn buttontype" id="add-project-lik" onClick="createNewProjectWithProtocol('with protocol'); return false;" style="background-color: #fd8300;position: relative;float: right;margin-right: 10px;width: 75px;" >Next</button>
                                </div>              
                            </div>                                                    
                            <!-- Without protocol section -->
                            <div Class="{!If( openProtocolLst !=null && openProtocolLst.size > 0 && isDirectOrderAllowed,'hideContent','showContent')}" id="withOutProtocolDiv">
                                <h2 style="width:47%;">Enter Project Name</h2>
                                <input type="text" style="width:47%; margin-bottom:10px;" Class="form-control borderstyle projectNameWithoutProtocol"/>                               
                                
                                <h2 style="width:47%; position:absolute; right:20px; top: 2px;">Enter Reference (if any)</h2>
                                     <input  id="referenceNo" type="text" Class="form-control borderstyle" style="width:47%; position:absolute; right: 20px;top: 58px;" list="existingClientRefLst" maxlength="25"/>     
                                     <datalist id="existingClientRefLst">
										<apex:repeat value="{!existingClientRefLst}" var="ref">
											<option value="{!ref}"/>
										</apex:repeat>			
                                     </datalist>                                   
                                    <apex:inputHidden value="{!protocolFromUser}" id="hiddenProtocol" />
                                <apex:outputPanel >                                
                                    <h2 style="width:47%;">Enter Sponsor Name (if any)</h2>
                                    <input type="text" id="sponsor2" style="width:47%; margin-bottom:10px;" Class="form-control borderstyle" list="SponsorName" maxlength="25"/>
                                    <!-- {!selectedSponsorName} -->
                                    <datalist id="SponsorName">                                    		
										<apex:repeat value="{!existingSponsorRefLst}" var="sponsor">
											<option value="{!sponsor}"/>
										</apex:repeat>
                                    </datalist>                                                         
                                    <h2 style="width:47%;position:absolute;right:20px;top:101px;">Enter Protocol Number (if any)</h2>
                                    <input type="text" id="protocolIdNoPrototcol" Class="form-control borderstyle" style="width:47%; position:absolute; right: 20px;top: 156px;" list="protocol-no" maxlength="25"/>
                                    <datalist id="protocol-no">
                                    	<apex:repeat value="{!protocolNumbr}" var="protocol">
                                    		<option value="{!protocol}"/>
                                    	</apex:repeat>
                                    </datalist>                                
                                </apex:outputPanel> 
                                <div class="faq-buttons" style="margin-bottom: 40px;">
<!--                                     <button class="btn buttontype" id="question-cancel" onClick="resetDialog(); return false;">Cancel</button> -->
<!-- 									<button class="btn buttontype" id="question-cancel" onClick="window.location='#close';resetDialog();return false;">Cancel</button>				 -->
										<button class="btn buttontype" id="question-cancel" onClick="resetDialog();return false;">Cancel</button>
                                    <button class="btn buttontype" id="add-project-lik" onClick="createNewProjectWithProtocol('With No Protocol'); return false;" style="background-color: #fd8300;position: relative;float: right;margin-right: 10px;width: 75px;" >Next</button>
                                </div>                                                                                                
                            </div>
                            
                        </div>
                    </div>                     
                    <script>
                        var existingProjectsArray = '{!existingProjectNames}';
                        var protocolNumbrList = [];
                        protocolNumbrList = '{!protocolNumbr}';                        
                        isOperationComplete = true;
                        
                        $(document).ready(function() {      
                        			$("#draftsSideMenu").addClass('active');                  
                                    $('input[id$="imageFile"]').parent().css('overflow','visible');
                                    if ($("#project-list li").length == 0){
                                        var noProj = document.getElementById('shortcut');
                                        noProj.style.display='block';               
                                    }          
                                    var progressbar1= document.getElementById('progress-bar');
                                    progressbar1.style.display='none';                        
                                    $('.selectedProtocol').val('');            
                        });  
                                                  
                        function askAndDeleteProject(projectId, projectN){
                            alertify.confirm(projectN + " will be deleted. Please confirm.", function(e){
                              if( e ){
                                showProgressBar();
                                deleteProject(projectId);
                               } 
                            }); 
                        }
                        function showProgressBar(){
                            var progressbar= document.getElementById('progress-bar');
                            var progressbarinfo= document.getElementById('progressbarInfo');       
                            progressbar.style.display='block';
                            progressbarinfo.style.width='100%';
                         }                              
                         var openWithProtocol = false;                                           
                         function createNewProjectWithProtocol(option){
                            var pName;
                            if(option=="with protocol"){                                                                                                    
                                pName = $('.projectNameFromUser').val();
                            }else{
                                pName = $('.projectNameWithoutProtocol').val();          
                            }   
                            if(pName != undefined && pName != "" && pName != null && pName.trim().lenght != 0 ) {
                                 var re = new RegExp("[A-Za-z0-9\_ ]+");
                                 var matchFound = pName.match(re||[]);
                                 if(matchFound[0].length == pName.length){
                                        if(pName.trim().length <= 25){
                                            if(existingProjectsArray.indexOf(pName.trim()) > -1  ){
                                                alertify.alert('Project name already exists. Please choose a different name.');
                                            }else{                                                
                                                var proto = $('#protocolUser').val();
                                                $('[id$=hiddenProtocol]').val(proto);
                                                var selectedProrotoclId = $('.selectedProtocol').val();    
                                                if(option == "with protocol"){   
                                                	if(selectedProrotoclId==null){
                                                		  alertify.alert("Please select atleast one option form Protocol list.");
                                                	}else{
                                                		if(selectedProrotoclId == "Not in List"){                                                                                                       
	                                                        $('.projectNameWithoutProtocol').val($('.projectNameFromUser').val());
	                                                        $('#withProtocolDiv').removeClass('showContent');
	                                                        $('#withProtocolDiv').addClass('hideContent');
	                                                        $('#withOutProtocolDiv').removeClass('hideContent');
	                                                        $('#withOutProtocolDiv').removeClass('showContent');
	                                                        openWithProtocol = true;                                                                                                                                                                         
	                                                    }else{
	                                                        //window.open('/apex/TaskType?pName='+pName+'&prId='+selectedProrotoclId+'&type=withProtocol');
	                                                        openTaskType('WithProtocol',pName,selectedProrotoclId,'','');                                                        
	                                                        window.location='#close';         
	                                                    }
                                                	}                                                                                           
                                                }else{
                                                    var refNum = $('#referenceNo').val();
                                                    var sponsorEntred = $('#sponsor2').val();
                                                    var protocolVal = $('#protocolIdNoPrototcol').val();
                                                    openTaskType('WithOutProtocol',pName,protocolVal,refNum,sponsorEntred);
                                                    //window.open('/apex/TaskType?pName='+pName+'&refNum='+refNum+'&sponsor='+sponsorEntred+'&type=withOutProtocol');
                                                    //alert('please redirect me to task type page');
                                                }                                                                                                             
                                            }
                                        }else{
                                            alertify.alert("Project name can be maximum 25 characters long.");
                                        }
                                }else{
                                            alertify.alert("Project name cannot contain special characters.");  
                                }
                            }else{
                                alertify.alert("Please enter a name for the project.");
                            }
                         }
                         function resetDialog(){
                            if(openWithProtocol==false){
                                $('#withProtocolDiv').addClass('showContent');
                                $('#withProtocolDiv').removeClass('hideContent');
                                $('#withOutProtocolDiv').addClass('hideContent');
                                $('#withOutProtocolDiv').removeClass('showContent');
                                //window.location='#close';   
                            }else{
                                $('#withProtocolDiv').addClass('showContent');
                                $('#withProtocolDiv').removeClass('hideContent');
                                $('#withOutProtocolDiv').addClass('hideContent');
                                $('#withOutProtocolDiv').removeClass('showContent');
                            }
                            if('{!isOpenProtocolExist}'=='false'){
                            	window.location='#close';
                            }
                         }  
                         /*
                        var proList = $('#protocol-no');
                        //proList.empty();
                        var optn='';
                        var optionValueLst =[];
                        var opval='';
                        console.log(protocolNumbrList);
                        for(var i=0; i<protocolNumbrList.length; i++){
                        	alert(protocolNumbrList[i]);
                            if(protocolNumbrList[i] == '[' || protocolNumbrList[i] == ']'){
                                //do nothing                        
                            }else if(protocolNumbrList[i] != ','){
                                opval = opval + protocolNumbrList[i]; 
                            }else{
                                optionValueLst.push(opval);
                                opval='';
                            }
                        }
                        
                        for(var j=0; j<optionValueLst.length ;j++){ 
                            optn = '<option> ' + optionValueLst[j] + ' </option>';
                            proList.append(optn);
                        }
                        optn = '<option> ' + 'test' + ' </option>';
                        proList.append(optn);*/
                        //$('#protocol-no').html(proList);
                    </script>
                </apex:outputPanel>
            </div>
            </apex:form>
        </apex:define>
    </apex:composition>
</apex:page>