<apex:page doctype="html-5.0" applyhtmltag="false" sidebar="false" showheader="false" applyBodyTag="false" standardstylesheets="false" cache="false" controller="GLSCommunity_LanguageControllerExt">
    
    <apex:composition template="GLSTemplate">
        <apex:define name="body"> 
            
            <c:JsCssFilesbundle />
            <apex:form >
                
                <style>
                    .hidePanel{
                        display: none;
                    }
                    .showPanel{
                        display: block;
                    }
                    .dropdown-menu li{
                      list-style:none;
                      width:200px;
                      padding:5px 0px;
                    }
                    .leftAlign{
                        text-align: left;   
                    }
                    .deleteLanguage{
                        margin-left: 235px;
                    }
                    .deselectedTab{
                        color: #333 !important;
                        background-color: #fff !important;
                    }
                    .selectedTab{
                        color: #fff !important;
                        background-color: #286090 !important;
                        border-color: #204d74 !important;
                    }
                    .modal-section h2 {
                        margin-top: 20px;
                    }
                    #question-send {
                        background-color: #fd8300;
                        position: relative;
                        float: right;
                        margin-right: 10px;
                        width: 75px;
                    }
                    #question-cancel {
                        background-color: #323a45;
                        position: relative;
                        float: right;
                        color: #fff;
                    }
                    .modalDialog h2 {
                        font-size: 18px;
                        margin-top: 10px;
                        font-weight: bold;
                    }
                    .form-left input {
                        font-size: 14px;
                        padding: 0px 10px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        width:400px;
                    }
                    .editBtn{
                        margin-left: 24%;
                        margin-right: 5%;
                    }
                    
                    .headingDiv{
                        font-size: large;
                        background-color: #F0F0F0;
                        height: 45px;
                        padding-top: 12px;
                        padding-left: 9px;
                    }
                    
                    .addNewBtn{
                        background-color: #ff7200!important;
                        width: auto!important;
                        height: 35px!important;
                        color: white;
                        margin-top: -1%;
                        margin-right: 5px!important;
                        font-size: medium;
                    }
                </style>
                
                <apex:includeScript value="{!URLFOR($Resource.LPPortalStyles1, 'js/script1.js')}"/>
                <apex:stylesheet value="{!URLFOR($Resource.GLS_CommunityResourcesAll, 'css/modalstyle.css')}"/>
                <apex:stylesheet value="{!URLFOR($Resource.MenuCssFix, 'css/menu-fix.css')}"/>
                <apex:actionFunction name="deleteBundleAction" action="{!deleteBundle}" rerender="langBundlePanel,scriptPanel">
                    <apex:param name="delBdlId" value="" assignTo="{!langBundleId}"></apex:param>
                </apex:actionFunction>
                <apex:actionFunction name="editBundleAction" action="{!editBundle}" rerender="langGridModal" oncomplete="showLanguagePopUp();">
                    <apex:param name="editBdlID" value="" assignTo="{!editBundleId}"></apex:param>
                </apex:actionFunction>
                <apex:actionFunction name="saveLanguageBundleAction" action="{!saveAsLanguageBundle}" rerender="langBundlePanel" oncomplete="$('#lang-modal').hide(); location.reload();">
                    <apex:param name="bundleName" assignTo="{!langBundleName}" value=""/>
                </apex:actionFunction>
                <apex:actionFunction name="newLanguageBundleAction" action="{!newLanguageBundle}" rerender="langGridModal" oncomplete="showLanguagePopUp();">
                </apex:actionFunction>
                <body>
                    <div class="content">        
                        <div class="headingDiv" style="padding-top:6px;"><apex:image url="{!URLFOR($Resource.MyLanguagesRes, 'image/globe.png')}" width="34" height="34" />
                            <b>Language Bundles</b>
                            
                            <button style="margin-top: 0px!important;" onclick="newLanguageBundleFunction(); return false;" class="pull-right btn addNewBtn" href="#lang-modal">Add New Language Bundle</button>
                        </div>
                        <br/>                
                        <apex:outputPanel id="langBundlePanel">
                            <div class="row language-bundles">
                                <div class="col-md-12 column ui-sortable">
                                    <apex:repeat value="{!lstLangBundle}" var="bundle">
                                        <div class="bundle" style="width:300px; position: relative; min-height:168.5px; float:left;">
                                            <div class="bundle-header">
                                            	<h3 style="text-align:left; padding-left:5px;">                                            	
                                            		<span class="noOfElements">{!bundle.Target_Lang_Bundle_Count__c}</span>
                                            		<span id="allBundleNames">{!bundle.Bundle_Name__c}</span>
                                            	</h3>
                                            </div>                                            
                                            <div class="col-md-5"><h4>From</h4>
                                                <span>{!bundle.Source_Language__r.Name}</span>
                                            </div>
                                            <div class="col-md-7 targ-bundle" style="overflow-y:auto;">
                                            	<div class="col-md-12">
	                                            	<apex:outputPanel rendered="{!if(bundle.Target_Language_Bundle__r != null && bundle.Target_Language_Bundle__r.size > 0,true,false)}">
		                                            	<table class="col-md-8 targ-bundle" style="width:100%;">	                                            		
			                                            		<thead>
				                                            		<tr>
				                                            			<td><h4>To</h4></td>
<!-- 				                                            			<td><h4>Country</h4></td> -->
				                                            		</tr>
			                                            		</thead>
			                                            		<tBody>	                                            			                                            		
				                                            		<apex:repeat value="{!bundle.Target_Language_Bundle__r}" var="tBundel">
				                                            			<tr>
				                                            				<td>{!tBundel.Target_Language__r.Name}</td>
<!-- 				                                            				<td>{!tBundel.Country__r.name}</td> -->
				                                            			</tr>
                                                    </apex:repeat>
			                                            		</tBody>	                                            			
		                                            	</table>
	                                            	</apex:outputPanel>
                                            	</div>
<!--                                             	<apex:outputPanel rendered="{!if(bundle.Target_Language_Bundle__r != null && bundle.Target_Language_Bundle__r.size > 0,false,true)}"> -->
<!--                                             		<h4>To</h4> -->
<!-- 	                                                <ul> -->
<!-- 	                                                    <apex:repeat value="{!mapIdTargetLanguage[bundle.Id]}" var="bundleTlang"> -->
<!-- 	                                                        <li><span>{!bundleTlang}</span></li> -->
<!-- 	                                                    </apex:repeat> -->
<!-- 	                                                </ul>	                                            		 -->
<!--                                             	</apex:outputPanel>                                            	 -->
                                            </div>
                            
                                            <a class="btn btn-warning editBtn" style="position:absolute; top:-3px; right:30px; margin-left: 0px; margin-right: 0px; padding:6px 6px;" onclick="editBundle('{!bundle.Id}'); return false;"><apex:image url="{!URLFOR($Resource.MyLanguagesRes, 'image/editnew.png')}" width="18" height="18" /></a>
                                            <a class="btn btn-danger" style="position:absolute; top:-3px; right:-3px; margin-left: 0px; margin-right: 0px; padding:6px 6px;" onclick="deleteBundle('{!bundle.Id}'); return false;"><apex:image url="{!URLFOR($Resource.MyLanguagesRes, 'image/cross.png')}" width="18" height="18" /></a>
                                        </div>
                                    </apex:repeat>
                                </div>
                            </div>
                        </apex:outputPanel>
                        
                        <apex:outputPanel id="langGridModal">
                            <div id="lang-modal" class="modalDialog" style="overflow:auto;">
                                <div style="height: auto;width: 800px; " class="modal-section">
                                    <a href="#close" title="Close" class="close" onClick="$('#lang-modal').hide(); return false;">X</a>
                                    <div class="row language-select">
                                        <div class="col-md-12 column ui-sortable">
                                            <div class="ref-content">   
                                                
                                                <div class="form-left">
                                                    Language Bundle
                                                    <input type="text" placeholder="Language Bundle Name" class="name" name="Bundle_Name" id="bundle_name" value="{!langBundleName}"/>
                                                </div> 
                                            </div>    
                                            <h4>Select Languages</h4>
                                            <div class="btn-group lang-buttons">
                                                <button class="btn btn-default btn-primary lang-selector" type="button" onclick="displayLangs(event);return false;" id="sLangTab">Source Language</button>
                                                <button class="btn btn-default lang-selector" type="button" onclick="displayLangs(event);return false;" id="tLangTab">Target Language(s)</button>
                                            </div>
            
                                            <input class="btn input-group btn-default searchField" placeholder="Search for Language" id="searchText" onkeydown = "return (event.keyCode!=13);"/>
                                            <div class="languageGrid col-md-12">
                                                <apex:outputPanel id="sLangPanel" styleclass="sourceLangList">
                                                    <div class="col-md-12 lang-list" id="sLanguage">
                                                        <ul id="sourcelist"  class="language-list list-inline">
                                                            <apex:repeat value="{!lstSourceLanguage}" var="source">
                                                                <li>
                                                                    <div class="dropdown">
                                                                        <button class="btn btn-default width100 dropdown-toggle" type="button" data-toggle="dropdown" id="sourceLangBtn">{!source.Name}</button>                                                                        
                                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                                            <apex:repeat value="{!mapSourceLanguage[source.Id]}" var="country">
                                                                                <li class="btn btn-default width100 countrycheckbox leftAlign"><apex:inputcheckbox id="singleSourceLang" styleClass="srcLanguageCB" value="{!country.isChecked}" onclick="checkSourceLang(event);"/>{!country.ctry}</li>
                                                                            </apex:repeat>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </apex:repeat>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-12 lang-list" id="hiddenSource">
                                                        <ul class="language-list list-inline">
                                                            <apex:repeat value="{!lstUncommonSourceLangs}" var="source">
                                                                <li>
                                                                    <div class="dropdown" id="hiddenSource">
                                                                        <button class="btn btn-default width100 dropdown-toggle" type="button" data-toggle="dropdown">{!source.Name}</button>
                                                                        <ul id="sourcelist" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                                            <apex:repeat value="{!mapSourceLanguage[source.Id]}" var="country">
                                                                                <li class="btn btn-default width100 countrycheckbox leftAlign" id="sourceName"><apex:inputcheckbox id="singleSourceLang" value="{!country.isChecked}" styleClass="srcLanguageCB" onclick="checkSourceLang(event, '{!country.ctry}');"/>{!country.ctry}</li>
                                                                            </apex:repeat>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </apex:repeat>
                                                        </ul>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel id="tLangPanel" >
                                                    <div class="col-md-12 lang-list" id="tLanguage">
                                                        <ul class="language-list list-inline">
                                                            <apex:repeat value="{!lstTargetLanguage}" var="target">
                                                                <li>
                                                                    <div class="dropdown">
                                                                        <button class="btn btn-default width100 dropdown-toggle" type="button" data-toggle="dropdown">{!target.Name}</button>
                                                                        <ul id="targetlist" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                                            <apex:repeat value="{!mapTargetLanguage[target.Id]}" var="country">
                                                                                <li class="btn btn-default width100 countrycheckbox leftAlign"><apex:inputcheckbox id="multiTargetLang" value="{!country.isChecked}" styleClass="targetLanguageCB" onclick="checkInScope(event);"/>{!country.ctry}</li>
                                                                            </apex:repeat>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </apex:repeat>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-12 lang-list" id="hiddenTarget">
                                                        <ul class="language-list list-inline">
                                                            <apex:repeat value="{!lstUncommonTargetLangs}" var="target">
                                                                <li>
                                                                    <div class="dropdown">
                                                                        <button class="btn btn-default width100 dropdown-toggle" type="button" data-toggle="dropdown">{!target.Name}</button>
                                                                        <ul id="targetlist" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                                            <apex:repeat value="{!mapTargetLanguage[target.Id]}" var="country">
                                                                                <li class="btn btn-default width100 countrycheckbox leftAlign"><apex:inputcheckbox id="multiTargetLang" value="{!country.isChecked}" styleClass="targetLanguageCB" onclick="checkInScope(event);"/>{!country.ctry}</li>
                                                                            </apex:repeat>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </apex:repeat>
                                                        </ul>
                                                    </div>
                                                </apex:outputPanel>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn-link btn pull-left showMore" onclick="return false;">
                                                Show More
                                            </button>
                                        </div>
                                        <div class="faq-buttons" style="margin-bottom: 40px;">
                                            <button class="btn buttontype" id="question-cancel" onClick="$('#lang-modal').hide(); return false;">Cancel</button>
                                            <button class="btn buttontype" id="question-send" style="width: auto!important;" onclick="saveLanguageBundle(); return false;">Save</button>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </apex:outputPanel>
                    </div>
                </body>
                <apex:outputPanel id="scriptPanel">
                <script>
                    
                    var tabclicked = 'source';
                    var linkText = 'Show More';
                    var editBdlIdGlobal;
                    isOperationComplete =true;
                    
                    $("document").ready(function(){
                        $("#languagesSideMenu").addClass('active');
                        $("#langselect").addClass('stageidActive');
                        $("#fileupload").removeClass('stageidActive'); 
                        $("#preview").removeClass('stageidActive');
                        $("#serveselect").removeClass('stageidActive');
                        $("#projectdetails").removeClass('stageidActive');
                        var targetSize = '{!targetListSize}';
                        if(targetSize==0){
                            $('#saveBtn').addClass('disabled');
                            //disableTabs();
                        }
                        
                        $("#tLanguage").addClass("hidePanel");
                        $("#tLanguage").removeClass("showPanel");
                        $("#sLanguage").addClass("showPanel");
                        $("#hiddenTarget").addClass("hidePanel");
                        $("#hiddenSource").addClass("hidePanel");
                        $('#lang-modal').hide();
                        
                        selectSourceLanguage();
                        selectTargetLanguage();
                    });
                    
                    function selectSourceLanguage(){
                        var crySelectedLang = false;
                        $('.srcLanguageCB').each(function(){
                            if($(this).prop('checked')==true){
                                //$(this).closest('li').addClass('selectedTab');
                                crySelectedLang = true;
                                $(this).closest('div').find('button').addClass('selectedTab');
                            }
                            else{
                                //$(this).closest('li').removeClass('selectedTab');
                                if(crySelectedLang == false){
                                    $(this).closest('div').find('button').removeClass('selectedTab');
                                }
                            }
                        });
                    }
                    
                    function selectTargetLanguage(){
                        var crySelectedLang = false;
                        $('.targetLanguageCB').each(function(){
                            if($(this).prop('checked')==true){
                                //$(this).closest('li').addClass('selectedTab');
                                crySelectedLang = true;
                                $(this).closest('div').find('button').addClass('selectedTab');
                            }
                            else{
                                //$(this).closest('li').removeClass('selectedTab');
                                if(crySelectedLang == false){
                                    $(this).closest('div').find('button').removeClass('selectedTab');
                                    $(this).closest('div').find('button').addClass('deselectedTab');
                                }
                                else{
                                    $(this).closest('div').find('button').addClass('deselectedTab');
                                }
                            }
                        });
                    }
                    
                    $(document).on('click', '.showMore', function() {
                        isOperationComplete = false;
                        var linkTextNew;
                        $(this).text(function(i, text){
                            var linkTextOld = text.trim();
                            linkTextNew = (linkTextOld == "Show More") ? "Show Less" : "Show More";
                            return linkTextNew;
                        });
                        if(linkTextNew == 'Show Less'){
                            if(tabclicked == 'source'){
                                $('#hiddenSource').removeClass('hidePanel');
                                $('#hiddenSource').addClass('showPanel');
                                $('#hiddenTarget').removeClass('showPanel');
                                $('#hiddenTarget').addClass('hidePanel');
                            }
                            else{
                                $('#hiddenTarget').removeClass('hidePanel');
                                $('#hiddenTarget').addClass('showPanel');
                                $('#hiddenSource').removeClass('showPanel');
                                $('#hiddenSource').addClass('hidePanel');
                            }
                            
                        }
                        else{
                            $('#hiddenTarget').removeClass('showPanel');
                            $('#hiddenTarget').addClass('hidePanel');
                            $('#hiddenSource').removeClass('showPanel');
                            $('#hiddenSource').addClass('hidePanel');
                            
                        }
                        linkText = linkTextNew;
                    });
                    
                    
                    function showLanguagePopUp(){
                        window.location='#lang-modal'; 
                        $('#lang-modal').show(); 
                        selectSourceLanguage();
                        selectTargetLanguage();
                        $("#tLanguage").addClass("hidePanel");
                        $("#tLanguage").removeClass("showPanel");
                        $("#sLanguage").addClass("showPanel");
                        $("#hiddenTarget").addClass("hidePanel");
                        $("#hiddenSource").addClass("hidePanel");
                    }
                    
                    function saveLanguageBundle(){
                        isOperationComplete =true;
                        var lbName = document.getElementById('bundle_name').value;
                        var bundleSize = '{!bundleSize}';
                        var sourcechkboxgroup = $("input:checkbox[id$='singleSourceLang']:checked").length;
                        var targetchkboxgroup = $("input:checkbox[id$='multiTargetLang']:checked").length;
                        
                        var duplicateFlag = false;
                        if(lbName == '' || lbName == null || lbName == 'undefined'){
                            alertify.alert('Please enter bundle name.');
                            return false;
                        }
                        else if(bundleSize > 5){
                            alertify.alert('So glad you like the bundle feature! The maximum was reached, six bundles have already been created. Please modify or delete a bundle as needed.');
                            return false;
                        }
                        else if(sourcechkboxgroup == 0){
                            alertify.alert('Please select source language.'); 
                            return false;
                        }
                        else if(targetchkboxgroup == 0){
                            alertify.alert('Please select target language.'); 
                            return false;
                        }
                        else if(targetchkboxgroup > 30){
                            alertify.alert('Limit for 30 target language has been crossed. Please remove some target languages. ');
                            return false;                   
                        } 
                        else if(lbName != '' || lbName != null || lbName != 'undefined'){
                            if(lbName.length > 15){
                                alertify.alert('Bundle name can be maximum 15 characters long.');
                                return false;
                            } 
                            else{
                                var lbName = document.getElementById('bundle_name').value;
                                var testCheck = document.getElementById('allBundleNames');
                                if(testCheck != null){
                                    $("#allBundleNames").each(function() {
                                        var re = new RegExp("[A-Za-z0-9\_ ]+");
                                        var matchFound = lbName.match(re||[]);
                                        if(!re.test(lbName)){
                                            alertify.alert('Bundle name cannot contain special characters.');
                                            return false;
                                        }
                                        else if((lbName.toLowerCase())== ($(this).text().toLowerCase())){
                                            if(editBdlIdGlobal != '' && editBdlIdGlobal != null && editBdlIdGlobal != 'undefined'){
                                                saveLanguageBundleAction(lbName);
                                                return false;
                                            }
                                            else{ 
                                                alertify.alert('Language Bundle name already exists. Please choose a different name.'); 
                                                return false;
                                            }
                                        }
                                        else{
                                            saveLanguageBundleAction(lbName);
                                            return false;
                                        };
                                        
                                    });
                                }
                                else{
                                    var re = new RegExp("[A-Za-z0-9\_ ]+");
                                    var matchFound = lbName.match(re||[]);
                                    if(!re.test(lbName)){
                                        alertify.alert('Bundle name cannot contain special characters.');
                                        return false;
                                    }
                                    else{
                                        saveLanguageBundleAction(lbName);
                                        return false;
                                    }
                                }
                            }
                        }
                        else{
                            saveLanguageBundleAction();
                        }
                    }
                    
                    function displayLangs(event){
                        if($(event.target).attr('Id')=='sLangTab'){
                            $("#tLanguage").addClass("hidePanel");
                            $("#tLanguage").removeClass("showPanel");
                            $("#sLanguage").addClass("showPanel");
                            $("#sLanguage").removeClass("hidePanel");
                            if(linkText == 'Show Less'){
                                $("#hiddenTarget").addClass("hidePanel");
                                $("#hiddenTarget").removeClass("showPanel");
                                $("#hiddenSource").addClass("showPanel");
                                $("#hiddenSource").removeClass("hidePanel");
                            }
                            tabclicked = 'source';
                        }else{
                            $("#sLanguage").addClass("hidePanel");
                            $("#sLanguage").removeClass("showPanel");
                            $("#tLanguage").addClass("showPanel");
                            $("#tLanguage").removeClass("hidePanel");
                            if(linkText == 'Show Less'){
                                $("#hiddenSource").addClass("hidePanel");
                                $("#hiddenSource").removeClass("showPanel");
                                $("#hiddenTarget").addClass("showPanel");
                                $("#hiddenTarget").removeClass("hidePanel");
                            }
                            tabclicked = 'target';
                        }
                    }
                    
                    
                    function checkSourceLang(e, ctry){
                        isOperationComplete = false;
                        $( "input:checkbox[id$=singleSourceLang]" ).each(function( index ) {
                              $(this).attr('checked', false);
                              $(this).prop("checked", false);
                              $(this).closest('div').find('button').removeClass('selectedTab');
                              $(this).closest('li').addClass('deselectedTab');
                        });
                        $(e.target).prop("checked", true);
                        selectSourceLanguage();
                    }
                    
                    
                     // custom css expression for a case-insensitive contains()
                    jQuery.expr[':'].Contains = function(a,i,m){
                        return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
                    };
                    
                    $('.searchField').keyup(function(e){
                        if(e.keyCode == 13)
                        {
                            $(this).trigger("enterKeyForLang");
                        }
                    });
                    
                    $('.searchField').bind("enterKeyForLang",function(e){
                          var filter = $(this).val();
                          if(filter != ''){
                                $('.language-list>li>div').find("button:not(:Contains(" + filter + "))").parent().hide();
                                $('.language-list>li>div').find("button:Contains(" + filter + ")").parent().show();
                              var count=($('.language-list>li>div').find("button:Contains(" + filter + ")").parent().length);
                              if(count==0){
                                    alertify.alert("It seems that we do not have this language listed under this name, contact the helpdesk to check how our language experts can assist you.");
                              }
                          }
                          else{
                            $('.language-list>li>div').find("button:not(:Contains(" + filter + "))").parent().hide();
                            $('.language-list>li>div').find("button:Contains(" + filter + ")").parent().show();
                          }
                        return false;
                    });
                    
                    function deleteBundle(delBdlId){
                        var result = confirm('Are you sure you want to delete this Language Bundle?');   
                        if(result){
                            deleteBundleAction(delBdlId);
                        }
                    }
                    
                    function editBundle(editBdlID){
                        editBdlIdGlobal = editBdlID;
                        editBundleAction(editBdlID);
                    }
                    
                    function newLanguageBundleFunction(){
                        editBdlIdGlobal = '';
                        newLanguageBundleAction();
                    }
                    
                    function checkInScope(event){
                        isOperationComplete = false;
                        if($(event.target).prop('checked')){
                            $(event.target).closest('div').find('button').removeClass('deselectedTab');
                            $(event.target).closest('div').find('button').addClass('selectedTab');
                        }
                        else{
                            $(event.target).closest('div').find('button').removeClass('selectedTab');
                            $(event.target).closest('div').find('button').addClass('deselectedTab');
                        }
                        selectTargetLanguage();
                    }

                </script>
                </apex:outputPanel>
            </apex:form>
        </apex:define> 
    </apex:composition>
</apex:page>