<apex:page showHeader="false" sidebar="false" controller="GLSCommunity_FileAccessSharingMgmtCtrl">
	<apex:stylesheet value="{!$Resource.jqueryui}" />    
    <apex:includeScript value="{!URLFOR($Resource.AWS_Script, '/jquery-1.10.2.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.AWS_Script, '/jquery.jeditable.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.AWS_Script, '/jquery-ui.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.TCS_JQuery_DataTables, 'css/jquery-ui.css')}"/>
    
	<style>
		.selectWidth{
		   width: 200px;
		}
		.tableBorder {        
		        border:0.8px solid black;
		}
		.hideDiv{
			display:none;
		}
		.columnWidth{
			width: 150px;
		}
		.col3{
			width: 716px;
		}
		.col1{
			vertical-align:top;
		}
		.moveButton{
			//margin-top: 100%;
			margin-left: 30px;
    		margin-top: 65px;
		}
		.darkClass {
                 background-color: grey;
                 filter:alpha(opacity=50);
                 /* IE */
                 opacity: 0.5;
                 /* Safari, Opera */
                 -moz-opacity:0.50;
                 /* FireFox */
                 z-index: 2000;
                 height: 100%;
                 width: 100%;
                 background-repeat:no-repeat;
                 background-position:center;
                 position:fixed;
                 top: 0px;
                 left: 0px;
             }
             .WaitSpinner{
                  background-image: url('/img/loading.gif');
                  font-weight: bold;
                  background-repeat: no-repeat;
                  margin-top:20%; 
                  margin-left:45%;
                  font-size:28px;
                  color: black;
             }
             .ui-widget-overlay { 
	            opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
	            filter: Alpha(Opacity=50) !important;
	            background: rgb(50, 50, 50) !important;
	         }
	         .tColumn{
	         	text-align: center;
	         }
	         .tHeader{
	         	text-align: center;
	         }
	         .moveBtn{
	         	vertical-align:top;
	         }
	         .newUserEntry{
	         	width:100%;
	         }
	         .isPortalUser{
	         	display:none;
	         }
	         .BoldFont{
	         	font-weight: bold;
	         }
	</style>
	<apex:form >	
		<apex:actionStatus id="waitLoading">
	        <apex:facet name="start">
	            <div id="el_loading" style="color:lightblue;">
	                <div id="darkLayer" class="darkClass">
	                    <div class="WaitSpinner"> &nbsp; &nbsp; Please Wait... </div>
	                </div>
	            </div>
	        </apex:facet>
	    </apex:actionStatus>
		<apex:pageMessages id="error-msgs"/>
		<apex:outputPanel title="QuoteInformation" >
			<table>
				<tbody>
					<tr>
						<td>Quote Number </td>
						<td>:</td>
						<td Class="BoldFont">
							<apex:outputField value="{!quoteObj.name}"/>
						</td>
					</tr>
					<tr>
						<td>Quote Status </td>
						<td>:</td>
						<td Class="BoldFont">
							<apex:outputField value="{!quoteObj.Status__c}"/>
						</td>
					</tr>
					<tr>
						<td>Account Name </td>
						<td>:</td>
						<td Class="BoldFont">
							<apex:outputField value="{!accountObj.name}"/>
						</td>
					</tr>
				</tbody>
			</table>				 				
		</apex:outputPanel>
		<apex:pageBlock >
			<apex:outputPanel id="userSelectionPanel">
				<!-- GRID CONTAINS MULTI SELECT COMPONENT -->
				<apex:panelGrid columns="2" width="100%" columnClasses="col1,col3">
					<apex:outputPanel >
						<p>
							<h1>	
								Available Users
							</h1>
						</p>
					</apex:outputPanel>
					<apex:outputPanel >
						<p>
							<h1>	
								Selected Users
							</h1>
						</p>
					</apex:outputPanel>
				    <apex:actionRegion >
				        <apex:panelGrid columns="2" columnClasses="col4,moveBtn">
        					<apex:outputPanel title="Available Users" id="availableUserPanel">
        						<apex:selectList value="{!selectedUsers}" multiselect="true" styleClass="selectWidth" size="10">
        	         				<apex:selectOptions value="{!availableUsersOption}"/>
        	     				</apex:selectList>
        					</apex:outputPanel>
        					<apex:outputPanel >
        						<center class="moveButton">
        							<apex:commandButton action="{!addSelectedUsers}" rerender="userSelectionPanel,error-msgs" value="SELECT >>"/>
        						</center>
        					</apex:outputPanel>
    					</apex:panelGrid>
					</apex:actionRegion>					
					<apex:outputPanel >
						<apex:actionRegion >							
    						<div style="overflow: auto;height: 171px;">
    							<apex:pageBlock >
    							    <apex:variable var="count" value="{!0}" />
    								<apex:pageBlockTable value="{!selectedUserLst}" var="user" border="1px" columns="4" width="700px">
    						            <apex:column headerValue="Action" headerClass="tHeader" width="20%">
    						            	<apex:outputPanel rendered="{!if(user.contact != null,true,false)}">
    						            		<div id="contactId" class="hideDiv">{!user.contact.Id}</div>
    						            	</apex:outputPanel>
    						            	<apex:outputPanel rendered="{!if(user.contact != null,false,true)}">
    						            		<div id="contactId" class="hideDiv">No Contact</div>
    						            	</apex:outputPanel>
    						            	<apex:actionRegion >
        						            	<!--
            						            	<apex:commandLink action="{!removeSelectedContact}" value="delete" rerender="newUserPanel,userSelectionPanel,error-msgs">
            						            		<apex:param name="email" value="{!user.accessRec.Email__c}"/>
            						            	</apex:commandLink>
            						            -->
        						            	<apex:commandLink action="{!removeSelectedContact}" value="delete" rerender="newUserPanel,userSelectionPanel,error-msgs">
        						            		<apex:param name="index" value="{!count}"/>
        						            	</apex:commandLink>
<!--         						            	<apex:commandLink value="delete123" rerender="dummy" onClick="confirmDelete('{!count}');"/>  -->
         						            		

<!--         						            	<apex:actionFunction name="removeSelectedContact" action="{!removeSelectedContact}" rerender="newUserPanel,userSelectionPanel,error-msgs"> -->
<!--         						            		<apex:param name="index" value=""/> -->
<!--         						            	</apex:actionFunction> -->
        						            	
    						            	</apex:actionRegion>
    						            </apex:column>
    						            <apex:column headerValue="User Name" width="25%">
    						            	{!user.accessRec.First_Name__c} {!user.accessRec.Last_Name__c}
    						            </apex:column>
    						            <apex:column headerValue="Email" width="35%">
    						            	{!user.accessRec.Email__c}
    						            </apex:column>
    						            <apex:column headerValue="Password" width="20%">
    						            	<apex:outputPanel rendered="{!if(user.contact != null,true,false)}">
    							            	<apex:outputPanel rendered="{!if(user.contact.isPortalActivated__c==true,false,true)}">
    							            		<apex:inputText value="{!user.accessRec.Password__c}" required="true"/>
    							            	</apex:outputPanel>
    							            	<apex:outputPanel rendered="{!if(user.contact.isPortalActivated__c==true,true,false)}">
    							            		<apex:outputText value="{!user.accessRec.Password__c}"/>
    							            	</apex:outputPanel>
    						            	</apex:outputPanel>
    						            	<apex:outputPanel rendered="{!if(user.contact != null,false,true)}">
    						            		<apex:inputText value="{!user.accessRec.Password__c}" required="true"/>
    						            	</apex:outputPanel>
    						            	<apex:variable var="count" value="{!count+1}"/>
    						            </apex:column>
    						        </apex:pageBlockTable>
    					        </apex:pageBlock>
    					        <apex:actionRegion >
	    					        <apex:actionFunction name="removeSelectedContact" action="{!removeSelectedContact}" rerender="newUserPanel,userSelectionPanel,error-msgs">
					            		<apex:param name="index" value=""/>
					            	</apex:actionFunction>
				            	</apex:actionRegion>
    				        </div>
    				        <center>
    				            <apex:commandButton value="Share" action="{!shareFAMRecords}" rerender="existingRecPanel,error-msgs,scriptPanel" onComplete="callUpdateBitly();" status="waitLoading"/> 
    					        <apex:commandButton value="Cancel" immediate="true" action="{!discardSelection}" rerender="userSelectionPanel,error-msgs"/>
    					    </center>
    					    
    					    <apex:actionRegion >
    					    	<apex:actionFunction name="updateBitlytURL" action="{!updateBitlyURL}" rerender="scriptPanel" onComplete="callUpdateBitly();" status="waitLoading"/>
    					    	<apex:actionFunction name="updateAccessRecords" action="{!updateAccessRecords}" rerender="userSelectionPanel,existingRecPanel,error-msgs" status="waitLoading"/>
    					    </apex:actionRegion>
    					    
					    </apex:actionRegion>
				    </apex:outputPanel>				    
				</apex:panelGrid>
			</apex:outputPanel>
			<br/>
			<br/>
			<H1>Not In List?</H1>
			<br/>
			<apex:actionRegion >
    			<apex:outputPanel id="newUserPanel">
    				    <table cellspacing="5" class="newUserEntry">
    				        <tr>
    				            <td>
    				                First Name    
    				            </td>    
    				            <td>
    				                <apex:inputField value="{!newSharingRecord.First_Name__c}"/>
    				            </td>
    				            <td>
    				                Last Name 
    				            </td>    
    				            <td>
    				                <apex:inputField value="{!newSharingRecord.Last_Name__c}"/>
    				            </td>    
    				        </tr>
    				        <tr>
    				            <td>
    				                Email
    				            </td>    
    				            <td>
    				                <apex:inputField value="{!newSharingRecord.Email__c}" required="true"/>
    				            </td>
    				            <td>
    				                Password 
    				            </td>    
    				            <td>
    				                 <apex:inputField value="{!newSharingRecord.Password__c}" required="true"/>
    				            </td> 
    				        </tr>
    				        <tr>
    				            <td colspan="4">
    				                <center>
                        				<apex:commandButton action="{!addNewSharingRecord}" rerender="newUserPanel,userSelectionPanel,error-msgs" value="Add"/>&nbsp;
                        				<apex:commandButton action="{!clearNewSharingRecord}" rerender="newUserPanel" value="Clear" immediate="true"/>
                        			</center>
    				            </td>
    				        </tr>
    				    </table>
    			</apex:outputPanel>
			</apex:actionRegion>
		</apex:pageBlock>
		
		<apex:pageBlock >
			<apex:actionRegion >				
			    <apex:outputPanel id="existingRecPanel" title="LP File Sharing Access Management">
	    			<apex:pageBlockTable value="{!fileSharingRecordLst}" var="sharingRec" title="LP File Sharing Access Management">
	    				<apex:column headerValue="Action" headerClass="tHeader" styleClass="tColumn">
	    					<apex:commandLink value="Edit" action="{!editedSharingRec}" onComplete="openEditDialog();" rerender="editPanel" status="waitLoading">
	    						<apex:param name="accessId" value="{!sharingRec.Id}"/>
	    					</apex:commandLink> 
	    					&nbsp;/&nbsp;
<!-- 	    					<apex:commandLink value="Delete" action="{!deleteAccessRecord}" rerender="existingRecPanel,availableUserPanel" status="waitLoading"> -->
<!-- 	    						<apex:param name="accessId" value="{!sharingRec.Id}"/> -->
<!-- 	    					</apex:commandLink> -->
						<apex:commandLink value="Delete" rerender="dummy" onClick="confirmDelete('{!sharingRec.Id}');" status="waitLoading"/>
	    					
	    				</apex:column>
	    				<apex:column headerValue="First Name">
	    					{!sharingRec.First_Name__c}
	    				</apex:column>
	    				<apex:column headerValue="Last Name">
	    					{!sharingRec.Last_Name__c}
	    				</apex:column>
	    				<apex:column headerValue="Email">
	    					{!sharingRec.Email__c}
	    				</apex:column>
	    				<apex:column headerValue="Portal User" headerClass="tHeader" styleClass="tColumn">	    					
	    					<apex:inputCheckbox value="{!sharingRec.User_Id__r.contact.isPortalActivated__c}"/>
	    				</apex:column>
	    				<apex:column headerValue="Incorrect Login" headerClass="tHeader" styleClass="tColumn">
	    					{!sharingRec.IncorrectLoginAttempt__c}
	    				</apex:column>
	    				<apex:column headerValue="Created By">
	    					{!sharingRec.CreatedBy.Name}
	    				</apex:column>
	    				<apex:column headerValue="Created Date">
	    					<apex:outputText value="{0,date,dd MMM YYYY}">
	    						<apex:param value="{!sharingRec.CreatedDate}" />
	    					</apex:outputText>
	    				</apex:column>
	    				
	    			</apex:pageBlockTable>
   					<apex:actionFunction name="deleteAccessRecord" action="{!deleteAccessRecord}" rerender="existingRecPanel,availableUserPanel" status="waitLoading">
   						<apex:param name="accessId" value=""/> 
   					</apex:actionFunction>
				</apex:outputPanel>
				<apex:actionFunction name="updateEditedRecord" action="{!updateEditedRecord}" rerender="existingRecPanel,error-msgs" status="waitLoading" onComplete="closeEditDialog();">
					<apex:param name="fname" value=""/>
					<apex:param name="lname" value=""/>
					<apex:param name="pwd" value=""/>
					<apex:param name="inCorrAttmp" value=""/>
				</apex:actionFunction>
				
				<div id="editFileAccessDialog" class="hideDiv">					
					 <apex:outputPanel id="editPanel">
					 	<apex:inputHidden value="{!showPassword}" id="showPassword"/>			
					 	<apex:outputText value="{!isPortalUser}" styleclass="isPortalUser"/>
					     <apex:pageBlock >
						     <apex:pageBlockSection columns="2">
						     	 <apex:outputPanel >
						     	    <apex:outputLabel value="First Name" for="firstName"/>&nbsp;&nbsp;
								 	<apex:inputField id="firstName" styleClass="fName" value="{!editedSharingRec.First_Name__c}" />
								 </apex:outputPanel>
								 <apex:outputPanel >
								    <apex:outputLabel value="Last Name" for="lastName"/>&nbsp;&nbsp;
								 	<apex:inputField id="lastName" styleClass="lName" value="{!editedSharingRec.Last_Name__c}" />
								 </apex:outputPanel>
							 </apex:pageBlockSection>
							 <apex:pageBlockSection columns="2">							 	
							 	<apex:outputPanel >
							 		 <apex:outputPanel rendered="{!!isPortalUser}">
								 		 <apex:outputLabel value="Password" for="password"/>&nbsp;&nbsp;&nbsp;&nbsp;
										 <apex:inputField styleClass="pwd" id="password" value="{!editedSharingRec.Password__c}"/>
									 </apex:outputPanel>
									 <apex:outputPanel rendered="{!isPortalUser}">
										 <apex:outputLabel value="Password" for="password2"/>&nbsp;&nbsp;&nbsp;&nbsp;								 								 
										 <apex:outputField styleClass="pwd" id="password2" value="{!editedSharingRec.Password__c}"/>
									 </apex:outputPanel>
								</apex:outputPanel>								 								 
								<apex:outputPanel >
									 <apex:outputLabel value="Reset Incorrect Login" for="theCheckbox"/>&nbsp;&nbsp;								 
									 <apex:inputCheckbox styleClass="inCorrectAttempt" id="theCheckbox" value="{!resetIncorrectLogin}" />
								</apex:outputPanel> 
<!-- 								 <apex:inputField styleClass="inCorrectAttempt" value="{!editedSharingRec.IncorrectLoginAttempt__c}" /> -->
							 </apex:pageBlockSection>
						 </apex:pageBlock>
					 </apex:outputPanel>             		              						
		        </div>
		        				
			</apex:actionRegion>
		</apex:pageBlock>		
        
		<apex:outputPanel id="scriptPanel">
			<script>
				var isAllRecordProcessed = '{!isAllRecordProcessed}';		
				var isSuccess = '{!isSharedSuccess}';				
				function callUpdateBitly(){		
					if(isSuccess =='true'){					
						if(isAllRecordProcessed == 'true'){						
							updateAccessRecords();					
						}else{											
							updateBitlytURL();
						}	
					}
				}
			</script>
		</apex:outputPanel>
		<script>
			function confirmDelete(shareId){
				var r = confirm("Are you sure?");
				if (r == true) {
				    deleteAccessRecord(shareId);
				}
			}
			function openEditDialog(){
				$("#editFileAccessDialog").dialog({
                 modal: true,
                 autoOpen: false,     
                 width: 839,
                 height: 210,
                 title: "Edit File Sharing Access",
                 buttons: [{
                 	text:"Save",    
			    	click: function () {
			    		var isPortaluser = $('.isPortalUser').text();				    		
			    		if(isPortaluser == "true"){			    					    						    			
			    			updateEditedRecord($('.fName').val(),$('.lName').val(),'',$('.inCorrectAttempt').prop('checked'));
			    			//updateEditedRecord($('.fName').val(),$('.lName').val(),'',$('.inCorrectAttempt').val());
			    		}else{			    						    			
			    			if(($('.pwd').val() =='' || $('.pwd').val() == null) && $("[id$='showPassword']").val() == 'true'){			    				
				    			alert('Please enter password');
				    		}else{				    					
				    			if($("[id$='showPassword']").val() == 'true'){				    				
				    				if($('.pwd').val().length < 4){				    				
				    					alert('Password length should be at least 4 characters.');
					    			}else{					    				
					    				//updateEditedRecord($('.fName').val(),$('.lName').val(),$('.pwd').val(),$('.inCorrectAttempt').val());
					    				updateEditedRecord($('.fName').val(),$('.lName').val(),$('.pwd').val(),$('.inCorrectAttempt').prop('checked'));
					    			}
				    			}else{
				    				if($('.pwd').val() == '' || $('.pwd').val() == null){
				    					updateEditedRecord($('.fName').val(),$('.lName').val(),'',$('.inCorrectAttempt').prop('checked'));
				    				}else{
				    					if($('.pwd').val().length < 4){
				    						alert('Password length should be at least 4 characters.');
				    					}else{
				    						updateEditedRecord($('.fName').val(),$('.lName').val(),$('.pwd').val(),$('.inCorrectAttempt').prop('checked'));
				    					}				    					
				    				}				    								    				
				    			}    		    				    						    			
				    		}	
			    		}			    				    					    		   			    			    	
			    	}
			     },{
			    	text:"Cancel",   
			    	click: function () {
			    		$(this).dialog("close");
			    	}
			     }]            
                }).dialog("open");
			}
			function closeEditDialog(){
				$('#editFileAccessDialog').dialog("close");
			}
		</script>
	</apex:form>
</apex:page>