<apex:page standardController="Estimate_Line_Item__c" extensions="GLSLPW_ELIDetailControllerExt" id="thePage">
    <apex:form id="theForm">
        
        <apex:stylesheet value="{!$Resource.jqueryui}" />
        <apex:includeScript value="{!URLFOR($Resource.TCS_JQuery_DataTables, 'js/jquery.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.CommetD, 'js/cometd.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.CommetD, 'js/json2.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.CommetD, 'js/jquery.cometd.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.TCS_JQuery_DataTables, 'js/jquery.dataTables.js')}"/> 
        <apex:stylesheet value="{!URLFOR($Resource.TCS_JQuery_DataTables, 'css/dataTables.css')}"/>  
        
        <style>
            .contentCenter{
                text-align:center !important;
            }
            
            .cursor{
                cursor: pointer;
            }
            
            .header{
                font-family:"Calibri";
                text-indent: 11px;
                white-space: normal;
                width: 50px;
                position:relative;
            }
            
        </style>
        
        <apex:actionFunction name="deleteConfirmAction" action="{!deleteELICtryRecord}" rerender="estLineCountryPanel">
           <apex:param name="estLineId" assignTo="{!estLineId}" value="" /> 
        </apex:actionFunction>
        
        <apex:pageBlock title="Estimate Line Item Detail">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Back" rendered="{!(!isEditMode)}" onclick="backRedirect(); return false;"/>
                <apex:commandButton value="Edit" action="{!customEdit}" rendered="{!(!isEditMode)}"/>
                <apex:commandButton value="Delete" action="{!customDelete}" rendered="{!(!isEditMode)}"/>
                <apex:commandButton value="Save" action="{!customSave}" rendered="{!isEditMode}"/>
                <apex:commandButton value="Cancel" action="{!customCancel}" rendered="{!isEditMode}" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2">
                <apex:outputText value="{!eliObj.Estimate_Id__r.Name}"/> 
                <apex:outputField value="{!eliObj.Amount__c}" rendered="{!(!isEditMode)}"/> 
                <apex:inputField value="{!eliObj.Amount__c}" rendered="{!isEditMode}"/>
                <apex:outputText value="{!eliObj.Protocol_Id__r.Name}"/> 
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:outputPanel id="estLineCountryPanel">
            <apex:pageBlock title="Estimate Line Countries" />
            <table class="display" id="estLineCtryTable" cellSpacing="0" cellPadding="5">
                <thead>
                    <tr>
                        <th class="contentCenter">Action</th>
                        <th class="contentCenter">ELI Country ID</th>
                        <th class="contentCenter">Country ID</th>
                        <th class="contentCenter"># of Sites</th>
                    </tr>
                </thead>
                <tbody>
                    <apex:repeat value="{!lstELICtry}" var="estLineCtry">
                        <tr>
                            <td class="contentCenter"><a class="cursor" onclick="deleteConfirm('{!estLineCtry.Id}');">Del</a></td>
                            <td class="contentCenter"> <apex:outputText value="{!estLineCtry.Estimate_Line_Id__r.Name}"/> </td>
                            <td class="contentCenter"> <apex:outputText value="{!estLineCtry.Country_Id__r.Name}"/> </td>
                            <td class="contentCenter"> <apex:outputText value="{!estLineCtry.Number_of_Sites__c}"/> </td>
                        </tr>
                    </apex:repeat>
                </tbody>
            </table>
        </apex:outputPanel>
        
        <script>
        
            $(document).ready(function() {
                createEstimateLineCtryTable();
            });
            
            function createEstimateLineCtryTable(){
             var oTable =  $('#estLineCtryTable').dataTable( { 
                                "paging":   false,
                                "ordering": false,
                                "info":     false,
                                "oLanguage": {"sSearch": "false"},
                                "sPaginationType": "full_numbers",
                                "oLanguage": {"sLengthMenu": "Show _MENU_ records per page"},
                                "bFilter" : false,               
                                "bLengthChange": false,
                                "bInfo": false, 
                                "bPaginate": false,
                                "aoColumns": [null,null,null,null]                    
                });  
            } 
            
            function backRedirect(){
                var proId = '{!eliObj.Protocol_Id__c}';
                if(proId != '' && proId != null && proId != 'undefined'){
                    window.open('/apex/GLSLPW_ProtocolDetailPage?id='+proId, '_self');
                }
            }
            
            function deleteConfirm(estLineRecordId){
                var result = confirm("Are you sure you want to delete the Estimate Line Item Country?");
                if(result == true){
                    deleteConfirmAction(estLineRecordId);
                } 
            }
        </script>
    </apex:form>
</apex:page>