<apex:page standardController="Quote_Line_Item__c" extensions="GLSQW_UploadLogFilesController" sidebar="false" showHeader="false" docType="html-5.0">
    <apex:stylesheet value="{!$Resource.screencss}" />
    <apex:stylesheet value="{!$Resource.jqueryui}" />
    <apex:stylesheet value="{!URLFOR($Resource.DisableButtonStyle, 'css/DisableButtonStyle.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.UploadScript, 'jquery.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.UploadScript, 'jquery-ui.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.script, 'jquery.jeditable.js')}"/>
    <apex:includeScript value="{!$Resource.scriptjs}" />
    <apex:includeScript value="{!URLFOR($Resource.script, 'custom.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.UploadScript, 'js/webtoolkit.base64.js')}"/ >
    <apex:includeScript value="{!URLFOR($Resource.UploadScript, 'js/sha1.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.UploadScript, 'js/base64-binary.js')}" />
    <apex:includeScript value="{!$Resource.github_js}" />
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </head>
    <style>
        .progress-label {
            position: absolute;
            left: 50%;
            text-shadow: 1px 1px 0 #fff; 
        } 
    </style>
    
    <script type="text/javascript">
        var progressSetTime;
        var signature;
        var fileLength;
        var currXhr = null;
        var validCSV; // Added by Amit
        var noRecordCSV;
        var browserSupp;
        /*Code to validate multiple lang pair start added by Amit*/
        
        function checkFiles(files) {
            // Check for the various File API support.
           try{
            if ( window.FileReader != undefined || ( FileReader != undefined ) ) {
                // FileReader are supported.
                getAsText(files[0]);
            } else {
               
                browserSupp = true;
                
            }
           }catch(e){
               browserSupp = true;
           }
        }
        
        function getAsText(fileToRead) {
            var reader = new FileReader();
            // Read file into memory as UTF-8      
            reader.readAsText(fileToRead);
            // Handle errors load
            reader.onload = loadChecker;
            reader.onerror = errorChecker;
        }
        
        function loadChecker(event) {
            var csv = event.target.result;
            processCSV(csv);
        }
        
        function processCSV(csv) {
            var allTextLines = csv.split(/\r\n|\n/);
            var inputvalues1 = allTextLines[2].split(',');
            var mapFields1 = inputvalues1[0].split(';');
            langCode1 = mapFields1[0].split('|');
            var langCodePair = langCode1[1];
            //console.log('==='+langCodePair);
            var lines = [];
            var arrSize = allTextLines.length;
           // console.log('==='+(arrSize>3));
            if((arrSize>3))
            {
                noRecordCSV = 'true';
            }
            else
            {
                noRecordCSV = 'false';
                 //console.log('###='+noRecordCSV);
            }
            validCSV = 'true';
                for (var i=2; i<allTextLines.length-1; i++) {
                    var data = allTextLines[i].split(';');
                    var tarr = [];
                    var inputvalues = allTextLines[i].split(',');
                    var mapFields = inputvalues[0].split(';');
                    var langCode = mapFields[0].split('|');
                   // console.log('==='+langCodePair);
                  //  console.log('==='+langCode[1]);
                    if(langCodePair!=langCode[1])
                    {
                        validCSV = 'false';
                        //console.log('File contains more than one language pair');
                    }
                }
            
           
           
        }
        
        function errorChecker(evt) {
            if(evt.target.error.name == "NotReadableError") {
                alert("Canno't read file !");
            }
        }
        
        /*Code to validate multiple lang pair End added by Amit*/
        
          /**
        Below method will detect browser and perform further file uploading task 
        **/ 
        
        function detectBrowserAndUploadFile(){
            var file = document.getElementById('files').value;
            var pos = file.lastIndexOf( file.charAt( file.indexOf(":")+1) );
            var fileName = file.substring( pos+1);
            var fileExtension = fileName.split('.')[fileName.split('.').length - 1].toLowerCase();
            console.log('fileExtension',fileExtension);
            if( fileExtension =="csv" || fileExtension =="xml")
            {
                   if((fileExtension =="csv" && noRecordCSV=='true'|| browserSupp )||fileExtension =="xml")
                   {
                    // alert(sFileExtension);
                            if((fileExtension =="csv" && validCSV=='true'|| browserSupp )||fileExtension =="xml")
                            {
                                var detectIE=isIE();
                                if(detectIE == false || detectIE == '10'){
                                    uploadFile();
                                }else if(detectIE == '9' || detectIE == '8'){
                                    uploadActComplete();
                                }
                                var quoteNumber = '{!currentQuote.Name}';
                            }
                            else
                            {
                                alert("Upload Failed:  CSV file contains multiple language pairs.");
                            }
                       
                    }
                    else
                    {
                        alert("Upload Failed:  CSV file does not contain any valid language records");
                        return false;
                    }
            }
            else
            {
                alert("Please select only CSV or XML file format");
                return false;
            }
        }
            
        /**
        Below method will detect IE versions
        **/
        function isIE() {
            var myNav = navigator.userAgent.toLowerCase();
            return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
        }
        
        function uploadActComplete(){
            var fileN=document.getElementById('files').value ;
            var fileSize = fileN.size;
            var pos =fileN.lastIndexOf( fileN.charAt( fileN.indexOf(":")+1) );
            var fileName = fileN.substring( pos+1);
            var lastIndex=fileName.lastIndexOf('.');
            var result;
            if(lastIndex == -1){
                result= alert('Cannot upload ' + fileName +' because it is not having proper file extension.');
            }else{
                result=true;
            }
            
           
            
            $('[id$=keyHidden]').val(parent.document.getElementById('keyHidden').value);
            $('[id$=transacIdHidden]').val(parent.document.getElementById('transacIdHidden').value);
            $('[id$=nameHidden]').val(parent.document.getElementById('nameHidden').value);
            $('[id$=accountHidden]').val(parent.document.getElementById('accountHidden').value);
            $('[id$=key]').val(parent.document.getElementById('key').value);
            $('[id$=policy]').val(parent.document.getElementById('policy').value);
            $('[id$=signature]').val(parent.document.getElementById('signature').value);
            
            var options = {
                beforeSend: function(xhr, opts) {
                    currXhr = xhr;
                },
                complete : function(xhr,status){
                    if(status=='aborted'){
                        document.getElementById(fileId).innerHTML = 'Cancelled file upload for file ' +fname;
                    }
                    else{
                        clearTimeout(progressSetTime);
                        document.getElementById(fileId).innerHTML = 'Uploaded 100% of file ' + fname;
                        var header = xhr.getResponseHeader('x-amz-version-id');
                        parent.uploadAct_nev(fname,fullpath,header,signature,path);
                    }
                }
            };
            
            if(result ==true){
                RFQ_id=$("#keyHidden").val();
                RFQ_id = RFQ_id.substring(0,15);
                RFQ_name=$("#nameHidden").val();
                ACC_name=$("#accountHidden").val();
                Trans_id=$("#transacIdHidden").val();
                fname = $("#files").val();
                fname = fname.substring(fname.lastIndexOf("\\") + 1);
                path = '';
                var fileExtension = fileName.split('.')[fileName.split('.').length - 1].toLowerCase();
                // key = '{!quoteId_Value}'+"/Trados/"+transacId+"/"+file.name;
                if (transacId != '')
                {
                    if(fileExtension=='xml')
                    {
                        key = ACC_name+"/"+RFQ_name+"_"+RFQ_id+"/Trados/"+transacId+"/"+fileName;
                        path = "/"+RFQ_name+"_"+RFQ_id+"/Trados/"+transacId+"/";
                    }
                    if(fileExtension=='csv')
                    {
                        key = ACC_name+"/"+RFQ_name+"_"+RFQ_id+"/Memsource"+"/"+fileName;
                        path = "/"+RFQ_name+"_"+RFQ_id+"/Memsource/";
                    }
                }
                else
                {
                    if(fileExtension=='xml')
                    {
                        key = ACC_name+"/"+RFQ_name+"_"+RFQ_id+"/Trados/"+transacId+"/"+fileName;
                        path = "/"+RFQ_name+"_"+RFQ_id+"/Trados/"+transacId+"/";
                    }
                    if(fileExtension=='csv')
                    {
                        key = ACC_name+"/"+RFQ_name+"_"+RFQ_id+"/Memsource"+"/"+fileName;
                        path = "/"+RFQ_name+"_"+RFQ_id+"/Memsource/";
                    }
                }
                
                $('#keyHidden').val(fullpath);
                var uniqueId = Math.floor((Math.random() * 100000)); 
                var fileId = "progress_" + uniqueId;
                var cancelId = "cancel_" + uniqueId;
                $("body").append('<br/><br/><div><div id="' + fileId + '" ></div><button class="uploadBtn" id="' + cancelId + '" >Cancel</button></div>');
                document.getElementById(fileId).innerHTML = 'Started uploading file ' + fname;
                progressSetTime = setTimeout( progress, 1000 );
                $('#upload_form').ajaxSubmit(options); 
                $("#" + cancelId).click(function(){
                    currXhr.abort();
                });
        }
        return false;
    }
    /**
    Below method contains logic to upload multiple files to S3 server 
    **/
    function uploadFile() {
        var files = document.getElementById('files').files;
        //alert('---files---'+files);
        fileLength=files.length;
        //alert('---fileLength---'+fileLength);
        for (var i = 0; i < files.length; i++) {
            //alert('Inside for');
            // To avoid JavaScript closure problem
            (function()  {
                var file = files[i];
                var fileSize = files[i].size;
                var fileName = file.name;
                var fd = new FormData();
                qliId = '{!qliUpdate.Id}';
                qliId = qliId.substring(0,15);
                transacId ='{!qliUpdate.Analyzed_Transaction_ID__c}';
                RFQ_id='{!QuoteId_value}';
                RFQ_id = RFQ_id.substring(0,15);
                RFQ_name='{!Quote_Name}';
                ACC_name='{!Account_Name}';
                var key = '';
                var path = '';
                var fileExtension = fileName.split('.')[fileName.split('.').length - 1].toLowerCase();
                // key = '{!quoteId_Value}'+"/Trados/"+transacId+"/"+file.name;
                if (transacId != '')
                {
                    if(fileExtension=='xml')
                    {
                        key = ACC_name+"/"+RFQ_name+"_"+RFQ_id+"/Trados/"+transacId+"/"+fileName;
                        path = "/"+RFQ_name+"_"+RFQ_id+"/Trados/"+transacId+"/";
                    }
                    if(fileExtension=='csv')
                    {
                        key = ACC_name+"/"+RFQ_name+"_"+RFQ_id+"/Memsource"+"/"+fileName;
                        path = "/"+RFQ_name+"_"+RFQ_id+"/Memsource/";
                    }
                }
                else
                {
                    if(fileExtension=='xml')
                    {
                        key = ACC_name+"/"+RFQ_name+"_"+RFQ_id+"/Trados/"+transacId+"/"+fileName;
                        path = "/"+RFQ_name+"_"+RFQ_id+"/Trados/"+transacId+"/";
                    }
                    if(fileExtension=='csv')
                    {
                        key = ACC_name+"/"+RFQ_name+"_"+RFQ_id+"/Memsource"+"/"+fileName;
                        path = "/"+RFQ_name+"_"+RFQ_id+"/Memsource/";
                    }
                }
                
                fd.append('key', key);
                fd.append('acl', 'public-read'); 
                fd.append('success_action_status','201');
                fd.append('AWSAccessKeyId','{!key}');
                fd.append('policy','{!policy}');
                fd.append('signature','{!signedPolicy}');
                //signature='{!signedPolicy}';
                fd.append("file", file);
                
                var uniqueId = Math.floor((Math.random() * 100000)); 
                var fileId = "progress_" + uniqueId;
                var cancelId = "cancel_" + uniqueId;
                var lastIndex=fileName.lastIndexOf('.');
                var xhr = getXMLHTTPObject();               
                $("body").append('<br/><br/><div><div id="' + fileId + '" ></div><button class="uploadBtn,btn" id="' + cancelId + '" >Cancel</button></div>');
                xhr.addEventListener("loadstart", function(e) {     
                    if(lastIndex != -1){
                        document.getElementById(fileId).innerHTML = 'Started uploading file ' + file.name;
                    }else{     
                        xhr.abort();
                    }              
                });
                xhr.addEventListener("progress", function(e) {
                    if (e.lengthComputable && e) {
                        var percent = Math.round((e.loaded / e.total) * 100);
                        document.getElementById(fileId).innerHTML = 'Uploaded ' + percent.toString() + '% of file ' + file.name;
                    }           
                }, false);   
                xhr.onreadystatechange  = function(e) {  
                    if (this.readyState == 4 && this.status == 201) { 
                        var header = xhr.getResponseHeader('x-amz-version-id');
                        parent.uploadAct_nev(file.name,key,header,signature,path); 
                    }    
                }     
                xhr.addEventListener("abort", function(e){             
                    if(lastIndex != -1)
                    {
                        document.getElementById(fileId).innerHTML = 'Cancelled file upload for file ' + file.name;
                    }
                    else{
                        document.getElementById(fileId).innerHTML = 'Cannot upload ' + file.name +' because it is not having proper file extension.';
                    }
                }, false);
                $("#" + cancelId).click(function(){
                    xhr.abort();
                });
                
                xhr.open('POST', 'https://{!bucket}.s3.amazonaws.com/', true);
                xhr.setRequestHeader('Access-Control-Expose-Headers',true)
                xhr.setRequestHeader('Access-Control-Allow-Origin', '*'); 
                xhr.send(fd);
                /*xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4){
                        var str = xhr.responseText;
                    }
                };*/
            })();
        }
    }
    
    function getXMLHTTPObject()
    { 
        try {
            var xmlHttp = null;
            if (window.XMLHttpRequest)
            {
                // If IE7, Mozilla, Safari, etc: Use native object
                // $($('script')[0]).remove();
                xmlHttp = new XMLHttpRequest();
            }
            else 
            {
                if (window.ActiveXObject)
                {
                    // ...otherwise, use the ActiveX control for IE5.x and IE6
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP"); 
                }
            }
            return xmlHttp;
        } catch(e)
        {
            alert(e.message);
        }
    }
    
    function startRead()
    {
        alert('Start Read');
        var reader = new FileReader();
        var htmlFile = document.getElementById("files").files[0];   //read the file selected with the <input> tag
        reader.readAsText(htmlFile);            
        var htmlText = reader.result;  //and create a string with the contents
        alert('htmlFile : '+ htmlFile + ', htmlText : ' + htmlText); 
    }
    
    </script> 
    <form method="POST" action="https://{!bucket}.s3.amazonaws.com"  id="upload_form" enctype="multipart/form-data">
        <apex:message />
        <apex:outputPanel id="CreateAssignIdiframe">  
            <input type="hidden" id="keyHidden" name="key" value="{!QuoteId_value}" /> 
            <input type="hidden" id="nameHidden" value="{!Quote_Name}" /> 
            <input type="hidden" id="accountHidden" value="{!Account_Name}" /> 
            <input type="hidden" id="transacIdHidden" name="key" value="{!qliUpdate.Analyzed_Transaction_ID__c}" />
        </apex:outputPanel>  
        <input type="hidden" id="status" name="success_action_status" value="201" />
        <input type="hidden" id="key" name="AWSAccessKeyId" value="" /> 
        <input type="hidden" id="policy" name="policy" value="" /> 
        <input type="hidden" id="signature"  name="signature" value="" /> 
        <input type="hidden" id="acl" value="public-read" /> 
        
        <div class="{!IF(disableBtn==true,'displayNone','displayBlock')}">
            <input id="files" type="file" onchange="checkFiles(this.files)" size="50" name="file" class="{!IF(disableBtn==true,'fileUpCls btn disableStyle','fileUpCls btn enableStyle')}" />
            <input type="button"  value="Upload" onClick="detectBrowserAndUploadFile();" class="{!IF(disableBtn==true,'uploadBtn btn disableStyle','uploadBtn btn enableStyle')}" id="continue_btn"/><br/>
        </div>
        
        <div class="{!IF(disableBtn==true,'displayBlock','displayNone')}">
            <input id="files" type="file" onchange="checkFiles(this.files)" size="50" name="file"  class="{!IF(disableBtn==true,'fileUpCls btn disableStyle','fileUpCls btn enableStyle')}" disabled="disabled"/>
            <input type="button"  value="Upload" onClick="detectBrowserAndUploadFile();" class="{!IF(disableBtn==true,'uploadBtn btn disableStyle','uploadBtn btn enableStyle')}" id="continue_btn" disabled="disabled"/><br/>
        </div>
        
        <!--             <div id="progressbar" class="progressCls"><div class="progress-label"></div></div>-->
        <input class="btn" type="submit" value="Upload to Amazon" style="display:none" id ="save_btn"/>
    </form>
</apex:page>