<apex:page standardController="Quote_Line_Item__c" extensions="GLSQW_UploadLogFilesController" sidebar="false" showHeader="false">
    
    <apex:stylesheet value="{!$Resource.screencss}" />
    <apex:stylesheet value="{!$Resource.jqueryui}" />

    <apex:includeScript value="{!URLFOR($Resource.script, 'jquery-1.10.1.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.script, 'jquery.jeditable.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.script, 'custom.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.script, 'jquery-ui.js')}" />
    <apex:includeScript value="{!$Resource.github_js}" />
    
    <apex:form id="frm">
        <apex:outputpanel rendered="{!if((userType=='PowerPartner'),true,false)}">
            <apex:iframe src="/customer/apex/GlSQW_UploadLogFiles?id={!qliID}"/>  
        </apex:outputpanel>
        <apex:outputpanel rendered="{!if((userType=='Standard'),true,false)}">
            <apex:iframe src="/apex/GlSQW_UploadLogFiles?id={!qliID}" /> 
        </apex:outputpanel> 
        <apex:outputPanel id="CreateAssignId">
            <input type="hidden" id="keyHidden" name="key"
                value="{!qliUpdate.Id}"/>
            <input type="hidden" id="transacIdHidden" name="transacId"
                value="{!qliUpdate.Analyzed_Transaction_ID__c}"/>
            <input type="hidden" id="nameHidden" name="key"
                value="{!Quote_Name}"/>
            <input type="hidden" id="accountHidden" name="key"
                value="{!Account_Name}"/>    
            <input type="hidden" name="AWSAccessKeyId" id="key" value="{!key}" />
            <input type="hidden" id="policy" name="policy"
                value="{!policy}" />
            <input type="hidden" id="signature" name="signature"
                value="{!signedPolicy}" />
            <input type="hidden" id="acl" name="acl" value="public-read" />
        </apex:outputPanel>
        <apex:actionFunction name="uploadAct_nev" action="{!successFileupload}" rerender="CreateAssignId" oncomplete="reloadPage();">
            <apex:param id="filename" name="filename" value=""
                 assignTo="{!newFileName}" />
            <apex:param id="fullpathname" name="fullpathname" value=""
                 assignTo="{!AmazonPath}" />
            <apex:param id="header" name="header" value=""
                 assignTo="{!VersionId}" />
            <apex:param id="signature" name="signature" value=""
                 assignTo="{!currentSignature}" />
            <apex:param id="path" name="path" value=""
                 assignTo="{!path}" />     
        </apex:actionFunction>
    </apex:form>
    <script type="text/javascript">
        function reloadPage(){
            var result = alert('Analyze Process Completed');
            window.top.location.reload();
        }
    </script>
</apex:page>